mygit/full.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 488.0,
            "y" : 408.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
            "id" : "6ca9da4a-de96-3fec-9640-11f9b8cfdb4b",
            "instanceIdentifier" : "0c053c96-f7a4-175b-1d6c-e5d56cf6efe4",
            "name" : "from ValidateXML",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "5120b92b-13cb-3f87-becc-77489c29785d",
          "instanceIdentifier" : "0c053c94-f7a4-175b-731f-b09bc5958878",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "id" : "608ea15e-2cb7-3859-9ac5-be65bf6d3679",
            "instanceIdentifier" : "0c053c93-f7a4-175b-0a31-2b563d700d8b",
            "name" : "to EvalutatDataInput",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 488.0,
            "y" : 656.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "id" : "8807236b-513e-3e6d-8f14-cac56fffa7a1",
            "instanceIdentifier" : "ac8766a6-889a-3d53-7f5f-94ff17394483",
            "name" : "fromKiosk",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "040e8f3a-fd7f-3f73-924f-7908c2562b1c",
          "instanceIdentifier" : "0c053c99-f7a4-175b-b767-6640f554dd9e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
            "id" : "d5ebf0ac-52b6-32ee-ac1c-de5ca2f7e014",
            "instanceIdentifier" : "0c053c97-f7a4-175b-5af7-ee14ce7340d3",
            "name" : "toPutElastic",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 488.0,
            "y" : 248.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "id" : "6f4fae88-0e96-3e5a-8aa5-70b455dcf77c",
            "instanceIdentifier" : "0c053c92-f7a4-175b-db6b-46af497d767b",
            "name" : "from Ingest",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "35254b46-8186-31ce-a02e-68b24aba1199",
          "instanceIdentifier" : "41ca2497-749a-3570-8ee2-5b1a08ff6691",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
            "id" : "b5a40655-93dc-31b5-bd22-2b4deffd1ec4",
            "instanceIdentifier" : "8a2bee80-05b0-3fc2-9a9e-50cb9ff9e811",
            "name" : "toElestic",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-ssl-context-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.ssl.SSLContextService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.ssl.RestrictedSSLContextService"
          } ],
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "0ab5be5f-e691-303f-9b20-956adee6bc68",
          "instanceIdentifier" : "5a2e4d25-331d-3585-cc14-bbf5237697bc",
          "name" : "StandardRestrictedSSLContextService",
          "properties" : {
            "Truststore Type" : "JKS",
            "SSL Protocol" : "TLS",
            "Keystore Type" : "PKCS12",
            "Truststore Filename" : "/opt/nifi/secrets/keys/truststore.jks",
            "Keystore Filename" : "/opt/nifi/secrets/keys/keystore.p12"
          },
          "propertyDescriptors" : {
            "Truststore Type" : {
              "displayName" : "Truststore Type",
              "identifiesControllerService" : false,
              "name" : "Truststore Type",
              "sensitive" : false
            },
            "SSL Protocol" : {
              "displayName" : "TLS Protocol",
              "identifiesControllerService" : false,
              "name" : "SSL Protocol",
              "sensitive" : false
            },
            "Keystore Type" : {
              "displayName" : "Keystore Type",
              "identifiesControllerService" : false,
              "name" : "Keystore Type",
              "sensitive" : false
            },
            "Truststore Filename" : {
              "displayName" : "Truststore Filename",
              "identifiesControllerService" : false,
              "name" : "Truststore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Keystore Password" : {
              "displayName" : "Keystore Password",
              "identifiesControllerService" : false,
              "name" : "Keystore Password",
              "sensitive" : true
            },
            "key-password" : {
              "displayName" : "Key Password",
              "identifiesControllerService" : false,
              "name" : "key-password",
              "sensitive" : true
            },
            "Truststore Password" : {
              "displayName" : "Truststore Password",
              "identifiesControllerService" : false,
              "name" : "Truststore Password",
              "sensitive" : true
            },
            "Keystore Filename" : {
              "displayName" : "Keystore Filename",
              "identifiesControllerService" : false,
              "name" : "Keystore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.ssl.StandardRestrictedSSLContextService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "110f79be-757e-3040-84ec-fe11668c27b5",
          "instanceIdentifier" : "9fe3fb55-35fe-3c33-a4ea-ec318483b0a2",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-ssl-context-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.21.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "type" : "org.apache.nifi.ssl.SSLContextService"
          } ],
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "ebbac20a-0258-35eb-9518-7533319fd68f",
          "instanceIdentifier" : "143f8034-ad45-3f5e-08d2-5a6e3bbd6911",
          "name" : "StandardSSLContextService",
          "properties" : {
            "Truststore Type" : "JKS",
            "SSL Protocol" : "TLS",
            "Keystore Type" : "PKCS12",
            "Truststore Filename" : "/opt/nifi/secrets/keys/truststore.jks",
            "Keystore Filename" : "/opt/nifi/secrets/keys/keystore.p12"
          },
          "propertyDescriptors" : {
            "Truststore Type" : {
              "displayName" : "Truststore Type",
              "identifiesControllerService" : false,
              "name" : "Truststore Type",
              "sensitive" : false
            },
            "SSL Protocol" : {
              "displayName" : "TLS Protocol",
              "identifiesControllerService" : false,
              "name" : "SSL Protocol",
              "sensitive" : false
            },
            "Keystore Type" : {
              "displayName" : "Keystore Type",
              "identifiesControllerService" : false,
              "name" : "Keystore Type",
              "sensitive" : false
            },
            "Truststore Filename" : {
              "displayName" : "Truststore Filename",
              "identifiesControllerService" : false,
              "name" : "Truststore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Keystore Password" : {
              "displayName" : "Keystore Password",
              "identifiesControllerService" : false,
              "name" : "Keystore Password",
              "sensitive" : true
            },
            "key-password" : {
              "displayName" : "Key Password",
              "identifiesControllerService" : false,
              "name" : "key-password",
              "sensitive" : true
            },
            "Truststore Password" : {
              "displayName" : "Truststore Password",
              "identifiesControllerService" : false,
              "name" : "Truststore Password",
              "sensitive" : true
            },
            "Keystore Filename" : {
              "displayName" : "Keystore Filename",
              "identifiesControllerService" : false,
              "name" : "Keystore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.ssl.StandardSSLContextService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
        "inputPorts" : [ ],
        "instanceIdentifier" : "fb4a7fd6-0187-1000-8c80-037915d961f6",
        "labels" : [ ],
        "name" : "root",
        "outputPorts" : [ ],
        "position" : {
          "x" : 604.0,
          "y" : 221.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "435efbf0-7ce2-360a-a1f0-e9e7b31d1999",
              "instanceIdentifier" : "0c053c81-f7a4-175b-a14d-54145941b636",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "0fff2566-9eaa-3313-9a39-c494478ddd78",
            "instanceIdentifier" : "0c053c8b-f7a4-175b-42e2-96fbfe3e0cdd",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "ced80a4b-7ff1-3c2b-85df-a52cb54ff4d0",
              "instanceIdentifier" : "ac416cc5-6dad-34ff-e28d-4f7899dd422b",
              "name" : "GenerateFlowFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 192.0,
              "y" : 1616.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "c0877ad6-b3a6-3d27-bd94-0958a9b8c704",
              "instanceIdentifier" : "685dcb25-d496-3c39-ae59-548dbaa0d2d3",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "a0260f83-3fdc-3695-8c44-69001028c2f0",
            "instanceIdentifier" : "396b835d-85dc-3b11-e8a9-6395d0cac761",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "d4bcbaac-3500-3a79-96b7-d6d3dfb843d9",
              "instanceIdentifier" : "210ed208-5f91-33c2-21c0-0c91e7b30a30",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 184.0,
              "y" : 1752.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "8429af06-a0f6-3984-8b27-5f667dc4a3b0",
              "instanceIdentifier" : "3d9058f4-f707-3743-44e2-ae3fa5938c7d",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "f30f3ae2-4dee-3499-a237-0d060c4e6c69",
            "instanceIdentifier" : "f2b41dc3-512b-37f8-2f1b-5c761a8e248c",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "c0877ad6-b3a6-3d27-bd94-0958a9b8c704",
              "instanceIdentifier" : "685dcb25-d496-3c39-ae59-548dbaa0d2d3",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 128.0,
              "y" : 1896.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "435efbf0-7ce2-360a-a1f0-e9e7b31d1999",
              "instanceIdentifier" : "0c053c81-f7a4-175b-a14d-54145941b636",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "57a5bcc5-d3c0-3713-97c7-ca80c0030011",
            "instanceIdentifier" : "1600f543-57bf-342c-0f4d-bacb1da6c500",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "8429af06-a0f6-3984-8b27-5f667dc4a3b0",
              "instanceIdentifier" : "3d9058f4-f707-3743-44e2-ae3fa5938c7d",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "56fd4007-6f08-355a-a776-faf5c56ebd5c",
              "instanceIdentifier" : "0c053c8f-f7a4-175b-81a9-2c14bbd34bd3",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "efbe2a5a-c5f9-3953-a148-605d729a7196",
            "instanceIdentifier" : "0c053c90-f7a4-175b-dd25-3042e3b4609b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "435efbf0-7ce2-360a-a1f0-e9e7b31d1999",
              "instanceIdentifier" : "0c053c81-f7a4-175b-a14d-54145941b636",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 200.0,
              "y" : 1480.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "d4bcbaac-3500-3a79-96b7-d6d3dfb843d9",
              "instanceIdentifier" : "210ed208-5f91-33c2-21c0-0c91e7b30a30",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "6ede7a39-36a6-344c-bae4-a1fb05cd97c4",
            "instanceIdentifier" : "41029876-f28b-3c78-29d2-11d1a869445f",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "f3f5b965-f547-3d75-ad03-e1d074615232",
              "instanceIdentifier" : "1aa6cbf0-c017-3095-fa55-7031f6c63fe6",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "4a9a07f9-0328-3d70-b0d0-67fbb1d1f071",
              "instanceIdentifier" : "f8ebce0a-9f46-3ce0-b449-68021ded39d7",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "b93406bd-b8fc-3feb-be35-8736ac68859f",
            "instanceIdentifier" : "7b8094f1-c5c9-39bf-0dfa-1d951933def6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "8807236b-513e-3e6d-8f14-cac56fffa7a1",
              "instanceIdentifier" : "ac8766a6-889a-3d53-7f5f-94ff17394483",
              "name" : "fromKiosk",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 184.0,
              "y" : 1336.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "f3f5b965-f547-3d75-ad03-e1d074615232",
              "instanceIdentifier" : "1aa6cbf0-c017-3095-fa55-7031f6c63fe6",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "7e49c9e9-c883-3087-bb00-24c5897cb894",
            "instanceIdentifier" : "6c3a8bbd-6f56-3716-7179-52345b5e8c1e",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "4a9a07f9-0328-3d70-b0d0-67fbb1d1f071",
              "instanceIdentifier" : "f8ebce0a-9f46-3ce0-b449-68021ded39d7",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "8807236b-513e-3e6d-8f14-cac56fffa7a1",
            "instanceIdentifier" : "ac8766a6-889a-3d53-7f5f-94ff17394483",
            "name" : "fromKiosk",
            "position" : {
              "x" : 376.0,
              "y" : 1056.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "87b73f43-40c8-3449-da7f-a0f74b98d8ca",
          "labels" : [ ],
          "name" : "PuElasticSearch",
          "outputPorts" : [ ],
          "position" : {
            "x" : 680.0,
            "y" : 656.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "c0877ad6-b3a6-3d27-bd94-0958a9b8c704",
            "instanceIdentifier" : "685dcb25-d496-3c39-ae59-548dbaa0d2d3",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1608.0
            },
            "properties" : {
              "Regular Expression" : "XXXXXXX",
              "Replacement Value" : "${beathost}",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "ced80a4b-7ff1-3c2b-85df-a52cb54ff4d0",
            "instanceIdentifier" : "ac416cc5-6dad-34ff-e28d-4f7899dd422b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GenerateFlowFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -424.0,
              "y" : 1912.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "0B",
              "mime-type" : "application/json",
              "generate-ff-custom-text" : "{\"@timestamp\":\"${now()}\",\"getrepo\":{\"user\":\"admin01\",\"host\":\"x1234567\"}}",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "http.headers.Content-Type" : "application/json",
              "Data Format" : "Text"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "mime-type" : {
                "displayName" : "Mime Type",
                "identifiesControllerService" : false,
                "name" : "mime-type",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "http.headers.Content-Type" : {
                "displayName" : "http.headers.Content-Type",
                "identifiesControllerService" : false,
                "name" : "http.headers.Content-Type",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "8429af06-a0f6-3984-8b27-5f667dc4a3b0",
            "instanceIdentifier" : "3d9058f4-f707-3743-44e2-ae3fa5938c7d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1760.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "http.headers.Content-Type" : "application/json",
              "index" : "${index:substringBefore(':')}",
              "mime.type" : "application/json",
              "body" : "$(*)"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "http.headers.Content-Type" : {
                "displayName" : "http.headers.Content-Type",
                "identifiesControllerService" : false,
                "name" : "http.headers.Content-Type",
                "sensitive" : false
              },
              "index" : {
                "displayName" : "index",
                "identifiesControllerService" : false,
                "name" : "index",
                "sensitive" : false
              },
              "mime.type" : {
                "displayName" : "mime.type",
                "identifiesControllerService" : false,
                "name" : "mime.type",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "body" : {
                "displayName" : "body",
                "identifiesControllerService" : false,
                "name" : "body",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "4a9a07f9-0328-3d70-b0d0-67fbb1d1f071",
            "instanceIdentifier" : "f8ebce0a-9f46-3ce0-b449-68021ded39d7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "TransformXml",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1176.0
            },
            "properties" : {
              "secure-processing" : "true",
              "cache-size" : "10",
              "indent-output" : "true",
              "XSLT file name" : "/opt/nifi/nifi-current/xslts/xml-to-json.xslt",
              "cache-ttl-after-last-access" : "60 secs"
            },
            "propertyDescriptors" : {
              "xslt-controller-key" : {
                "displayName" : "XSLT Lookup key",
                "identifiesControllerService" : false,
                "name" : "xslt-controller-key",
                "sensitive" : false
              },
              "xslt-controller" : {
                "displayName" : "XSLT Lookup",
                "identifiesControllerService" : true,
                "name" : "xslt-controller",
                "sensitive" : false
              },
              "secure-processing" : {
                "displayName" : "Secure processing",
                "identifiesControllerService" : false,
                "name" : "secure-processing",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "indent-output" : {
                "displayName" : "Indent",
                "identifiesControllerService" : false,
                "name" : "indent-output",
                "sensitive" : false
              },
              "XSLT file name" : {
                "displayName" : "XSLT file name",
                "identifiesControllerService" : false,
                "name" : "XSLT file name",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "cache-ttl-after-last-access" : {
                "displayName" : "Cache TTL after last access",
                "identifiesControllerService" : false,
                "name" : "cache-ttl-after-last-access",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.TransformXml",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "56fd4007-6f08-355a-a776-faf5c56ebd5c",
            "instanceIdentifier" : "0c053c8f-f7a4-175b-81a9-2c14bbd34bd3",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1179.1675990746094,
              "y" : 1504.840166367459
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "d4bcbaac-3500-3a79-96b7-d6d3dfb843d9",
            "instanceIdentifier" : "210ed208-5f91-33c2-21c0-0c91e7b30a30",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1464.0
            },
            "properties" : {
              "Regular Expression" : ",\"host\":{",
              "Replacement Value" : ",\"host\":{\"hostname\":\"XXXXXXX\",",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Literal Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "f3f5b965-f547-3d75-ad03-e1d074615232",
            "instanceIdentifier" : "1aa6cbf0-c017-3095-fa55-7031f6c63fe6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1312.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "beathost" : "$.host.name",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "beathost" : {
                "displayName" : "beathost",
                "identifiesControllerService" : false,
                "name" : "beathost",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "435efbf0-7ce2-360a-a1f0-e9e7b31d1999",
            "instanceIdentifier" : "0c053c81-f7a4-175b-a14d-54145941b636",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1920.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://elasticsearch:9200/filebeat/_doc",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "SSL Context Service" : "ebbac20a-0258-35eb-9518-7533319fd68f",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Basic Authentication Username" : "elastic",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "Response", "No Retry", "Retry", "Original" ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "0f73e68f-696a-3f61-a5d9-2a9e33f22aa7",
              "instanceIdentifier" : "b57818e3-3591-3aa9-7155-c1bee2ccab93",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "c26e68f5-a0d9-3065-8921-aa4d65340b9d",
            "instanceIdentifier" : "cab75ce7-9b00-3ab2-3c1b-aaa5093ff68c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "25398c8e-9537-31f6-8a7f-8dc15e2bb9cc",
              "instanceIdentifier" : "dfca4e26-caf3-3efa-9548-26035c54441f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 1584.0,
              "y" : 272.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "b5a40655-93dc-31b5-bd22-2b4deffd1ec4",
              "instanceIdentifier" : "8a2bee80-05b0-3fc2-9a9e-50cb9ff9e811",
              "name" : "toElestic",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "e2206bcb-4815-3f4d-a85b-0a92f893bf93",
            "instanceIdentifier" : "6e5c7a51-b6b6-322b-6ac3-86e2fa2beae8",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "f5525b2b-55ca-3ddf-9fd2-6a861fba3227",
              "instanceIdentifier" : "fed1d26e-6aa7-3387-1336-416fde88c02e",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "25398c8e-9537-31f6-8a7f-8dc15e2bb9cc",
              "instanceIdentifier" : "dfca4e26-caf3-3efa-9548-26035c54441f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "affcf610-4e37-3e70-9b83-da6e86fcb892",
            "instanceIdentifier" : "f9dde3b0-99e1-30c9-90b6-40d2106f2336",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "f5525b2b-55ca-3ddf-9fd2-6a861fba3227",
              "instanceIdentifier" : "fed1d26e-6aa7-3387-1336-416fde88c02e",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "71654843-5832-36fa-a000-8254d5c86205",
          "inputPorts" : [ ],
          "instanceIdentifier" : "15b218ab-c065-3580-af3f-84d36425ffb4",
          "labels" : [ ],
          "name" : "Ingest",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "b5a40655-93dc-31b5-bd22-2b4deffd1ec4",
            "instanceIdentifier" : "8a2bee80-05b0-3fc2-9a9e-50cb9ff9e811",
            "name" : "toElestic",
            "position" : {
              "x" : 1168.0,
              "y" : 320.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 680.0,
            "y" : -8.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "f5525b2b-55ca-3ddf-9fd2-6a861fba3227",
            "instanceIdentifier" : "fed1d26e-6aa7-3387-1336-416fde88c02e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpRequest",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1056.0,
              "y" : 160.0
            },
            "properties" : {
              "multipart-request-max-size" : "1 MB",
              "Allow POST" : "true",
              "Default URL Character Set" : "UTF-8",
              "Allow DELETE" : "true",
              "Maximum Threads" : "200",
              "HTTP Protocols" : "HTTP_1_1",
              "container-queue-size" : "50",
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "multipart-read-buffer-size" : "512 KB",
              "Allow OPTIONS" : "false",
              "Allow GET" : "true",
              "Allow HEAD" : "false",
              "Listening Port" : "7001",
              "Client Authentication" : "No Authentication",
              "Allow PUT" : "true"
            },
            "propertyDescriptors" : {
              "multipart-request-max-size" : {
                "displayName" : "Multipart Request Max Size",
                "identifiesControllerService" : false,
                "name" : "multipart-request-max-size",
                "sensitive" : false
              },
              "parameters-to-attributes" : {
                "displayName" : "Parameters to Attributes List",
                "identifiesControllerService" : false,
                "name" : "parameters-to-attributes",
                "sensitive" : false
              },
              "Allow POST" : {
                "displayName" : "Allow POST",
                "identifiesControllerService" : false,
                "name" : "Allow POST",
                "sensitive" : false
              },
              "Hostname" : {
                "displayName" : "Hostname",
                "identifiesControllerService" : false,
                "name" : "Hostname",
                "sensitive" : false
              },
              "Default URL Character Set" : {
                "displayName" : "Default URL Character Set",
                "identifiesControllerService" : false,
                "name" : "Default URL Character Set",
                "sensitive" : false
              },
              "Allow DELETE" : {
                "displayName" : "Allow DELETE",
                "identifiesControllerService" : false,
                "name" : "Allow DELETE",
                "sensitive" : false
              },
              "Maximum Threads" : {
                "displayName" : "Maximum Threads",
                "identifiesControllerService" : false,
                "name" : "Maximum Threads",
                "sensitive" : false
              },
              "HTTP Protocols" : {
                "displayName" : "HTTP Protocols",
                "identifiesControllerService" : false,
                "name" : "HTTP Protocols",
                "sensitive" : false
              },
              "Additional HTTP Methods" : {
                "displayName" : "Additional HTTP Methods",
                "identifiesControllerService" : false,
                "name" : "Additional HTTP Methods",
                "sensitive" : false
              },
              "container-queue-size" : {
                "displayName" : "Container Queue Size",
                "identifiesControllerService" : false,
                "name" : "container-queue-size",
                "sensitive" : false
              },
              "HTTP Context Map" : {
                "displayName" : "HTTP Context Map",
                "identifiesControllerService" : true,
                "name" : "HTTP Context Map",
                "sensitive" : false
              },
              "multipart-read-buffer-size" : {
                "displayName" : "Multipart Read Buffer Size",
                "identifiesControllerService" : false,
                "name" : "multipart-read-buffer-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Allow OPTIONS" : {
                "displayName" : "Allow OPTIONS",
                "identifiesControllerService" : false,
                "name" : "Allow OPTIONS",
                "sensitive" : false
              },
              "Allowed Paths" : {
                "displayName" : "Allowed Paths",
                "identifiesControllerService" : false,
                "name" : "Allowed Paths",
                "sensitive" : false
              },
              "Allow GET" : {
                "displayName" : "Allow GET",
                "identifiesControllerService" : false,
                "name" : "Allow GET",
                "sensitive" : false
              },
              "Allow HEAD" : {
                "displayName" : "Allow HEAD",
                "identifiesControllerService" : false,
                "name" : "Allow HEAD",
                "sensitive" : false
              },
              "Listening Port" : {
                "displayName" : "Listening Port",
                "identifiesControllerService" : false,
                "name" : "Listening Port",
                "sensitive" : false
              },
              "Client Authentication" : {
                "displayName" : "Client Authentication",
                "identifiesControllerService" : false,
                "name" : "Client Authentication",
                "sensitive" : false
              },
              "Allow PUT" : {
                "displayName" : "Allow PUT",
                "identifiesControllerService" : false,
                "name" : "Allow PUT",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "0f73e68f-696a-3f61-a5d9-2a9e33f22aa7",
            "instanceIdentifier" : "b57818e3-3591-3aa9-7155-c1bee2ccab93",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 656.0,
              "y" : 336.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "success" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "25398c8e-9537-31f6-8a7f-8dc15e2bb9cc",
            "instanceIdentifier" : "dfca4e26-caf3-3efa-9548-26035c54441f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpResponse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 648.0,
              "y" : 160.0
            },
            "properties" : {
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "HTTP Status Code" : "204"
            },
            "propertyDescriptors" : {
              "HTTP Context Map" : {
                "displayName" : "HTTP Context Map",
                "identifiesControllerService" : true,
                "name" : "HTTP Context Map",
                "sensitive" : false
              },
              "Attributes to add to the HTTP Response (Regex)" : {
                "displayName" : "Attributes to add to the HTTP Response (Regex)",
                "identifiesControllerService" : false,
                "name" : "Attributes to add to the HTTP Response (Regex)",
                "sensitive" : false
              },
              "HTTP Status Code" : {
                "displayName" : "HTTP Status Code",
                "identifiesControllerService" : false,
                "name" : "HTTP Status Code",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "failure" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 680.0,
              "y" : 440.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "bda41ee7-e6fd-3324-9b1c-d027fda2be01",
              "instanceIdentifier" : "0c053c9a-f7a4-175b-92d6-0d156808b3cb",
              "name" : "ValidateXml",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "30599e6f-62a7-3911-b4c0-ffa660432891",
            "instanceIdentifier" : "0c053ca0-f7a4-175b-e979-47523bc8021b",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "filebeat" ],
            "source" : {
              "comments" : "",
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "d65f131e-88e1-378a-bec9-d9cd78ee2ab9",
              "instanceIdentifier" : "0c053c9f-f7a4-175b-0af8-e8c5104015e2",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 680.0,
              "y" : 592.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "608ea15e-2cb7-3859-9ac5-be65bf6d3679",
              "instanceIdentifier" : "0c053c93-f7a4-175b-0a31-2b563d700d8b",
              "name" : "to EvalutatDataInput",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "6a583af7-cda0-344f-8027-38419a236533",
            "instanceIdentifier" : "0c053c9c-f7a4-175b-f3d0-17328242aa62",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "valid" ],
            "source" : {
              "comments" : "",
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "bda41ee7-e6fd-3324-9b1c-d027fda2be01",
              "instanceIdentifier" : "0c053c9a-f7a4-175b-92d6-0d156808b3cb",
              "name" : "ValidateXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "b402f007-1fd4-3951-958a-62d116c4fe27",
              "instanceIdentifier" : "0c053c9d-f7a4-175b-ac91-103e3fb476c6",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "f53e78e1-04a6-363b-b545-1a15d08e0b23",
            "instanceIdentifier" : "0c053c9e-f7a4-175b-88f3-37094ba270b9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "invalid" ],
            "source" : {
              "comments" : "",
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "bda41ee7-e6fd-3324-9b1c-d027fda2be01",
              "instanceIdentifier" : "0c053c9a-f7a4-175b-92d6-0d156808b3cb",
              "name" : "ValidateXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 688.0,
              "y" : 232.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "d65f131e-88e1-378a-bec9-d9cd78ee2ab9",
              "instanceIdentifier" : "0c053c9f-f7a4-175b-0af8-e8c5104015e2",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "9b5e4ef3-7c2c-3f4d-a8c0-9694c66986d6",
            "instanceIdentifier" : "0c053c9b-f7a4-175b-1565-148d45f71958",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
              "id" : "6f4fae88-0e96-3e5a-8aa5-70b455dcf77c",
              "instanceIdentifier" : "0c053c92-f7a4-175b-db6b-46af497d767b",
              "name" : "from Ingest",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "6f4fae88-0e96-3e5a-8aa5-70b455dcf77c",
            "instanceIdentifier" : "0c053c92-f7a4-175b-db6b-46af497d767b",
            "name" : "from Ingest",
            "position" : {
              "x" : 920.0,
              "y" : 72.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "0c053c91-f7a4-175b-d63b-bd61abca7a99",
          "labels" : [ ],
          "name" : "VaildateXML",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "608ea15e-2cb7-3859-9ac5-be65bf6d3679",
            "instanceIdentifier" : "0c053c93-f7a4-175b-0a31-2b563d700d8b",
            "name" : "to EvalutatDataInput",
            "position" : {
              "x" : 896.0,
              "y" : 568.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 680.0,
            "y" : 216.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "d65f131e-88e1-378a-bec9-d9cd78ee2ab9",
            "instanceIdentifier" : "0c053c9f-f7a4-175b-0af8-e8c5104015e2",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 864.0,
              "y" : 160.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "filebeat" : "ists filebeat"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "filebeat" : {
                "displayName" : "filebeat",
                "identifiesControllerService" : false,
                "name" : "filebeat",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "b402f007-1fd4-3951-958a-62d116c4fe27",
            "instanceIdentifier" : "0c053c9d-f7a4-175b-ac91-103e3fb476c6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1328.0,
              "y" : 376.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.21.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "4311fd70-10b2-3d00-a4df-132364dd06ff",
            "identifier" : "bda41ee7-e6fd-3324-9b1c-d027fda2be01",
            "instanceIdentifier" : "0c053c9a-f7a4-175b-92d6-0d156808b3cb",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ValidateXml",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 848.0,
              "y" : 384.0
            },
            "properties" : { },
            "propertyDescriptors" : {
              "XML Source Attribute" : {
                "displayName" : "XML Source Attribute",
                "identifiesControllerService" : false,
                "name" : "XML Source Attribute",
                "sensitive" : false
              },
              "Schema File" : {
                "displayName" : "Schema File",
                "identifiesControllerService" : false,
                "name" : "Schema File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE", "URL" ]
                },
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ValidateXml",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
              "id" : "d5ebf0ac-52b6-32ee-ac1c-de5ca2f7e014",
              "instanceIdentifier" : "0c053c97-f7a4-175b-5af7-ee14ce7340d3",
              "name" : "toPutElastic",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
            "identifier" : "f6b4c2e3-bf25-345b-915c-3a8cd68576c1",
            "instanceIdentifier" : "0c053c98-f7a4-175b-0a7e-bde191c354ce",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
              "id" : "6ca9da4a-de96-3fec-9640-11f9b8cfdb4b",
              "instanceIdentifier" : "0c053c96-f7a4-175b-1d6c-e5d56cf6efe4",
              "name" : "from ValidateXML",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "edd46c7b-5121-3615-8b00-3382135a7ea7",
          "identifier" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
            "identifier" : "6ca9da4a-de96-3fec-9640-11f9b8cfdb4b",
            "instanceIdentifier" : "0c053c96-f7a4-175b-1d6c-e5d56cf6efe4",
            "name" : "from ValidateXML",
            "position" : {
              "x" : 893.0,
              "y" : 67.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "0c053c95-f7a4-175b-9807-0b325efec80b",
          "labels" : [ ],
          "name" : "EvaluateDataInput",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "84ef9de6-05b0-30fa-8431-9fa4c0835195",
            "identifier" : "d5ebf0ac-52b6-32ee-ac1c-de5ca2f7e014",
            "instanceIdentifier" : "0c053c97-f7a4-175b-5af7-ee14ce7340d3",
            "name" : "toPutElastic",
            "position" : {
              "x" : 896.0,
              "y" : 592.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 680.0,
            "y" : 432.0
          },
          "processGroups" : [ ],
          "processors" : [ ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}