mygit/full.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "id" : "8807236b-513e-3e6d-8f14-cac56fffa7a1",
            "instanceIdentifier" : "aecf03f5-ef07-3e50-b394-d1ed151c573a",
            "name" : "fromKiosk",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "0e3506ea-e788-3ffc-8430-cb8a9f56f401",
          "identifier" : "35254b46-8186-31ce-a02e-68b24aba1199",
          "instanceIdentifier" : "c4fa3764-62bf-3f27-ffaf-912884b11b38",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
            "id" : "b5a40655-93dc-31b5-bd22-2b4deffd1ec4",
            "instanceIdentifier" : "6fefddd7-0d6f-323c-736f-385f90bc5da5",
            "name" : "toElestic",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.16.3"
          },
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "0e3506ea-e788-3ffc-8430-cb8a9f56f401",
          "identifier" : "110f79be-757e-3040-84ec-fe11668c27b5",
          "instanceIdentifier" : "205c956e-425a-3ec6-7e11-7a14cf4f5683",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "0e3506ea-e788-3ffc-8430-cb8a9f56f401",
        "inputPorts" : [ ],
        "instanceIdentifier" : "f589c19b-0187-1000-10a0-be3da49d1131",
        "labels" : [ ],
        "name" : "root",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1044.0,
          "y" : 241.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "67b180d8-4013-3c2b-9856-7eb82ab71f94",
              "instanceIdentifier" : "fc3ca519-40a2-3a0f-c8ce-d1797262569b",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "7d54c822-de6c-3a0c-b137-dccda382e5e8",
            "instanceIdentifier" : "c1270c33-be11-3cbf-c5ce-1e26b0be4f1c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure", "retry" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "0107b7d0-9a64-34ed-90da-ceebebf25562",
              "instanceIdentifier" : "a35c05d1-a36a-3a8a-e4ab-875a94a6a1d8",
              "name" : "PutElasticsearchHttp",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "05872ad8-1bda-32fe-b86c-23fba4e7f7dd",
              "instanceIdentifier" : "e118ab7e-ccf6-3ee0-f71a-d31e40ba967b",
              "name" : "PutElasticsearchHttp",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "f30f3ae2-4dee-3499-a237-0d060c4e6c69",
            "instanceIdentifier" : "3481784c-b270-3839-b6e5-34190a3d4424",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "c0877ad6-b3a6-3d27-bd94-0958a9b8c704",
              "instanceIdentifier" : "37b9b042-25dc-35e0-a544-358498de0f09",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "c0877ad6-b3a6-3d27-bd94-0958a9b8c704",
              "instanceIdentifier" : "37b9b042-25dc-35e0-a544-358498de0f09",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "a0260f83-3fdc-3695-8c44-69001028c2f0",
            "instanceIdentifier" : "be393e54-614d-3cf0-00f5-33375383b0e6",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "d4bcbaac-3500-3a79-96b7-d6d3dfb843d9",
              "instanceIdentifier" : "a2ee6427-a2d5-3724-b320-284e84b0deb3",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "47ae72ee-a09b-350f-8b72-954088aeab3b",
              "instanceIdentifier" : "c134645a-0f6d-31ac-df87-968b2ccd8a0b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "19be6a15-ce1a-303c-97e4-f716596ea3d6",
            "instanceIdentifier" : "2e25d903-8d58-3f91-88ed-fe817b90420c",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "84e45ef2-3793-397b-85e6-525cb4bc2728",
              "instanceIdentifier" : "b277a603-0d78-3f2c-d83a-dc0e9522122b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "d4bcbaac-3500-3a79-96b7-d6d3dfb843d9",
              "instanceIdentifier" : "a2ee6427-a2d5-3724-b320-284e84b0deb3",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "6ede7a39-36a6-344c-bae4-a1fb05cd97c4",
            "instanceIdentifier" : "5dcf528d-979a-3b5b-f46d-4b58cb4884b0",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "f3f5b965-f547-3d75-ad03-e1d074615232",
              "instanceIdentifier" : "617fa273-b9a6-38ca-1117-8f1eb1bfd2aa",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "67b180d8-4013-3c2b-9856-7eb82ab71f94",
              "instanceIdentifier" : "fc3ca519-40a2-3a0f-c8ce-d1797262569b",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "49e3eb9d-de94-33da-af67-f9a6ecc2393a",
            "instanceIdentifier" : "cd4695e9-12ee-3b62-7932-76be863a9206",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "246a466a-2c17-32e8-b75a-48f112305372",
              "instanceIdentifier" : "4dab99f6-cbcf-345b-9a0c-31be4d123da4",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "f3f5b965-f547-3d75-ad03-e1d074615232",
              "instanceIdentifier" : "617fa273-b9a6-38ca-1117-8f1eb1bfd2aa",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "94f77c0b-a662-30ff-a993-281bcf73c1f2",
            "instanceIdentifier" : "9fd5b869-cd09-33cf-d6a9-72ea98e757f2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "47ae72ee-a09b-350f-8b72-954088aeab3b",
              "instanceIdentifier" : "c134645a-0f6d-31ac-df87-968b2ccd8a0b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "0107b7d0-9a64-34ed-90da-ceebebf25562",
              "instanceIdentifier" : "a35c05d1-a36a-3a8a-e4ab-875a94a6a1d8",
              "name" : "PutElasticsearchHttp",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "77192ecb-c025-34e9-8fd0-290b1d785cb4",
            "instanceIdentifier" : "14c1496f-dd75-3253-235e-3b87419fca49",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "toElasticSearch" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "246a466a-2c17-32e8-b75a-48f112305372",
              "instanceIdentifier" : "4dab99f6-cbcf-345b-9a0c-31be4d123da4",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "84e45ef2-3793-397b-85e6-525cb4bc2728",
              "instanceIdentifier" : "b277a603-0d78-3f2c-d83a-dc0e9522122b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "1bfc98e7-18e6-3398-8a13-731cab07488c",
            "instanceIdentifier" : "403455ac-3283-3460-5dec-f6cd95d7e091",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "5ecefc96-45f6-3b96-852d-fe2f069d5e2e",
              "instanceIdentifier" : "9a78688d-f4d6-354c-6e60-19c756107e40",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "5b521cb4-2610-32ff-bb64-5afdb7f329e3",
              "instanceIdentifier" : "0450beec-2fa6-360b-5e23-20894fd92d0b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "4d7c5c32-9fe8-324e-930d-cb163e9807b4",
            "instanceIdentifier" : "7b462223-0a7b-3ec7-fa8c-e214e474afad",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "8429af06-a0f6-3984-8b27-5f667dc4a3b0",
              "instanceIdentifier" : "a7a0bc2b-599b-3c13-eca9-21bfc1d687b9",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "38f6a995-e7d0-36af-9000-04ff4a35d5ce",
              "instanceIdentifier" : "b7f96658-94ba-3c02-b040-76e8a7734219",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "bfd9ef2c-439f-33a0-8532-667d7855d0a1",
            "instanceIdentifier" : "de96ecc8-132c-30ed-5a49-ee4403315a33",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "bde5c4ba-8ab6-375d-b985-81fe0a48851d",
              "instanceIdentifier" : "bb6e4cc0-49ec-3494-a623-8c383b0a27c7",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "8429af06-a0f6-3984-8b27-5f667dc4a3b0",
              "instanceIdentifier" : "a7a0bc2b-599b-3c13-eca9-21bfc1d687b9",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "55923754-12a5-3867-8da4-08ce1ff285aa",
            "instanceIdentifier" : "3a6da213-2e11-3bfc-d952-e0bf4c677ab1",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "26444032-a104-3e15-91a9-bda880b9e4df",
              "instanceIdentifier" : "ff254ce9-c77b-3587-742d-6f3bd0e19290",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "fa5961cc-6221-305e-86b1-7787c1e65466",
              "instanceIdentifier" : "e7ed1fb4-6bc0-3f25-6423-d51d7c9fea41",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "831bc980-809a-3e8d-a657-8928ac5d7741",
            "instanceIdentifier" : "00dddf2a-66db-3a95-81b5-a42a2eec1445",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "bde5c4ba-8ab6-375d-b985-81fe0a48851d",
              "instanceIdentifier" : "bb6e4cc0-49ec-3494-a623-8c383b0a27c7",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "8429af06-a0f6-3984-8b27-5f667dc4a3b0",
              "instanceIdentifier" : "a7a0bc2b-599b-3c13-eca9-21bfc1d687b9",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "909b05e0-33b3-3ab6-9c39-bb48014a3fc7",
            "instanceIdentifier" : "1bf569df-808a-3d4c-65ef-c1276440ceba",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success", "failure", "retry" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "05872ad8-1bda-32fe-b86c-23fba4e7f7dd",
              "instanceIdentifier" : "e118ab7e-ccf6-3ee0-f71a-d31e40ba967b",
              "name" : "PutElasticsearchHttp",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "815f433e-b1df-3162-b47b-d9424d4d8470",
              "instanceIdentifier" : "67e82a69-6a56-316c-90ee-d9ec0b4c49f0",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "e2e5a48d-e9a8-35b3-a064-babef81402ed",
            "instanceIdentifier" : "a2929c55-954a-378d-ab31-73b7cc09f4cc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "238335ab-5b7b-34f9-a60a-b3f767526993",
              "instanceIdentifier" : "b4683231-62b5-3174-b617-20d4c9b966af",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "0d0f73ac-3afe-3f95-9b0c-f23167726c60",
              "instanceIdentifier" : "bea1ed3b-5e91-39cc-0caa-9d5677407f39",
              "name" : "PutElasticsearchHttp",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "daaec890-7c68-395b-b468-84bdbc2428f5",
            "instanceIdentifier" : "a25bd3b1-9a32-3eb6-cef1-6c256a15af99",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "2d4f4b48-eae2-3411-a112-296a11382e8b",
              "instanceIdentifier" : "8c408440-a535-31bc-4a6b-60ea32a095d7",
              "name" : "fromBeats",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "4a9a07f9-0328-3d70-b0d0-67fbb1d1f071",
              "instanceIdentifier" : "272fcee3-309d-37a4-44f5-b560ecbe305d",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "b93406bd-b8fc-3feb-be35-8736ac68859f",
            "instanceIdentifier" : "6a953a19-a22b-326c-a2a5-948292f85c0b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "8807236b-513e-3e6d-8f14-cac56fffa7a1",
              "instanceIdentifier" : "aecf03f5-ef07-3e50-b394-d1ed151c573a",
              "name" : "fromKiosk",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "f22d459b-bde9-3e8d-a38c-64d59f116a1b",
              "instanceIdentifier" : "fc1aef13-5b66-3e40-889e-d1a8fbc2a8dd",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "44febbc0-ebcb-32f4-9958-d853f31b7200",
            "instanceIdentifier" : "a60e916a-f695-3e06-49a0-3e1494933317",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure", "retry" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "0d0f73ac-3afe-3f95-9b0c-f23167726c60",
              "instanceIdentifier" : "bea1ed3b-5e91-39cc-0caa-9d5677407f39",
              "name" : "PutElasticsearchHttp",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "26444032-a104-3e15-91a9-bda880b9e4df",
              "instanceIdentifier" : "ff254ce9-c77b-3587-742d-6f3bd0e19290",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "f5cee54c-36f3-3870-8a5c-7bba43152957",
            "instanceIdentifier" : "e7d1c82d-e893-3e31-a398-bc252c176a43",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split", "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "815f433e-b1df-3162-b47b-d9424d4d8470",
              "instanceIdentifier" : "67e82a69-6a56-316c-90ee-d9ec0b4c49f0",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "246a466a-2c17-32e8-b75a-48f112305372",
              "instanceIdentifier" : "4dab99f6-cbcf-345b-9a0c-31be4d123da4",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "a8ad7788-95c0-3c5b-82fa-3a2882972cda",
            "instanceIdentifier" : "9d122af5-f301-3d2f-482a-cb57d66f2d1f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "5b521cb4-2610-32ff-bb64-5afdb7f329e3",
              "instanceIdentifier" : "0450beec-2fa6-360b-5e23-20894fd92d0b",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "5ecefc96-45f6-3b96-852d-fe2f069d5e2e",
              "instanceIdentifier" : "9a78688d-f4d6-354c-6e60-19c756107e40",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "7e49c9e9-c883-3087-bb00-24c5897cb894",
            "instanceIdentifier" : "66d0c9e7-466c-392a-eba4-e503a38e3bfc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "4a9a07f9-0328-3d70-b0d0-67fbb1d1f071",
              "instanceIdentifier" : "272fcee3-309d-37a4-44f5-b560ecbe305d",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "5524202c-62e4-3903-8df2-57a10882ad67",
              "instanceIdentifier" : "36b4ff3d-ac0c-3fba-b73d-cf562c355ac0",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "470b40b4-7ee3-3af3-8a8a-488f7a748b6a",
            "instanceIdentifier" : "46b220a6-7eb8-3e22-11bb-25f69c606a40",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "0d0f73ac-3afe-3f95-9b0c-f23167726c60",
              "instanceIdentifier" : "bea1ed3b-5e91-39cc-0caa-9d5677407f39",
              "name" : "PutElasticsearchHttp",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "a4b4c906-0f98-3083-ba22-0c6426c70956",
              "instanceIdentifier" : "b73d91e8-080e-3256-d457-af1458d6f9ea",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "789f09a8-30b3-3e23-9b9e-c71096985107",
            "instanceIdentifier" : "17291180-687a-3184-0080-8067a6d16df8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split", "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
              "id" : "815f433e-b1df-3162-b47b-d9424d4d8470",
              "instanceIdentifier" : "67e82a69-6a56-316c-90ee-d9ec0b4c49f0",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "0e3506ea-e788-3ffc-8430-cb8a9f56f401",
          "identifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "2d4f4b48-eae2-3411-a112-296a11382e8b",
            "instanceIdentifier" : "8c408440-a535-31bc-4a6b-60ea32a095d7",
            "name" : "fromBeats",
            "position" : {
              "x" : 856.0,
              "y" : 32.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "8807236b-513e-3e6d-8f14-cac56fffa7a1",
            "instanceIdentifier" : "aecf03f5-ef07-3e50-b394-d1ed151c573a",
            "name" : "fromKiosk",
            "position" : {
              "x" : 208.0,
              "y" : 1816.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "bcfd6cd4-5c21-3177-513e-c93fb196c40e",
          "labels" : [ ],
          "name" : "PuElasticSearch",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1080.0,
            "y" : 72.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "a4b4c906-0f98-3083-ba22-0c6426c70956",
            "instanceIdentifier" : "b73d91e8-080e-3256-d457-af1458d6f9ea",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1040.0,
              "y" : 2096.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "38f6a995-e7d0-36af-9000-04ff4a35d5ce",
            "instanceIdentifier" : "b7f96658-94ba-3c02-b040-76e8a7734219",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 64.0,
              "y" : 232.0
            },
            "properties" : {
              "Regular Expression" : "getrepo",
              "Replacement Value" : "@timestamp\":\"${now():toNumber()}\",\"getrepo",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "238335ab-5b7b-34f9-a60a-b3f767526993",
            "instanceIdentifier" : "b4683231-62b5-3174-b617-20d4c9b966af",
            "maxBackoffPeriod" : "10 mins",
            "name" : "TransformXml",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 528.0,
              "y" : 1760.0
            },
            "properties" : {
              "secure-processing" : "true",
              "cache-size" : "10",
              "indent-output" : "true",
              "XSLT file name" : "/opt/nifi/nifi-current/schemas/xml-to-json.xslt",
              "cache-ttl-after-last-access" : "60 secs"
            },
            "propertyDescriptors" : {
              "xslt-controller-key" : {
                "displayName" : "XSLT Lookup key",
                "identifiesControllerService" : false,
                "name" : "xslt-controller-key",
                "sensitive" : false
              },
              "xslt-controller" : {
                "displayName" : "XSLT Lookup",
                "identifiesControllerService" : true,
                "name" : "xslt-controller",
                "sensitive" : false
              },
              "secure-processing" : {
                "displayName" : "Secure processing",
                "identifiesControllerService" : false,
                "name" : "secure-processing",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "indent-output" : {
                "displayName" : "Indent",
                "identifiesControllerService" : false,
                "name" : "indent-output",
                "sensitive" : false
              },
              "XSLT file name" : {
                "displayName" : "XSLT file name",
                "identifiesControllerService" : false,
                "name" : "XSLT file name",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "cache-ttl-after-last-access" : {
                "displayName" : "Cache TTL after last access",
                "identifiesControllerService" : false,
                "name" : "cache-ttl-after-last-access",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.TransformXml",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "84e45ef2-3793-397b-85e6-525cb4bc2728",
            "instanceIdentifier" : "b277a603-0d78-3f2c-d83a-dc0e9522122b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1440.0,
              "y" : 1208.0
            },
            "properties" : {
              "Regular Expression" : "\"timestamp\"",
              "Replacement Value" : "\"@timestamp\"",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-elasticsearch-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "0107b7d0-9a64-34ed-90da-ceebebf25562",
            "instanceIdentifier" : "a35c05d1-a36a-3a8a-e4ab-875a94a6a1d8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutElasticsearchHttp",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2672.0,
              "y" : 1448.0
            },
            "properties" : {
              "elasticsearch-http-response-timeout" : "15 secs",
              "put-es-type" : "_doc",
              "put-es-index" : "kiosk_${index}",
              "elasticsearch-http-url" : "http://${esserver}:9200",
              "put-es-batch-size" : "100",
              "elasticsearch-http-connect-timeout" : "5 secs",
              "put-es-index-op" : "index",
              "Character Set" : "UTF-8"
            },
            "propertyDescriptors" : {
              "elasticsearch-http-response-timeout" : {
                "displayName" : "Response Timeout",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-response-timeout",
                "sensitive" : false
              },
              "put-es-id-attr" : {
                "displayName" : "Identifier Attribute",
                "identifiesControllerService" : false,
                "name" : "put-es-id-attr",
                "sensitive" : false
              },
              "put-es-type" : {
                "displayName" : "Type",
                "identifiesControllerService" : false,
                "name" : "put-es-type",
                "sensitive" : false
              },
              "put-es-index" : {
                "displayName" : "Index",
                "identifiesControllerService" : false,
                "name" : "put-es-index",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "elasticsearch-http-url" : {
                "displayName" : "Elasticsearch URL",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-url",
                "sensitive" : false
              },
              "put-es-batch-size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "put-es-batch-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "elasticsearch-http-connect-timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-connect-timeout",
                "sensitive" : false
              },
              "Username" : {
                "displayName" : "Username",
                "identifiesControllerService" : false,
                "name" : "Username",
                "sensitive" : false
              },
              "put-es-index-op" : {
                "displayName" : "Index Operation",
                "identifiesControllerService" : false,
                "name" : "put-es-index-op",
                "sensitive" : false
              },
              "elasticsearch-http-proxy-host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-proxy-host",
                "sensitive" : false
              },
              "proxy-username" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "proxy-username",
                "sensitive" : false
              },
              "proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "proxy-password",
                "sensitive" : true
              },
              "elasticsearch-http-proxy-port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-proxy-port",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "8429af06-a0f6-3984-8b27-5f667dc4a3b0",
            "instanceIdentifier" : "a7a0bc2b-599b-3c13-eca9-21bfc1d687b9",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1896.0,
              "y" : 1416.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "index" : "${index:substringBefore(':')}"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "index" : {
                "displayName" : "index",
                "identifiesControllerService" : false,
                "name" : "index",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "47ae72ee-a09b-350f-8b72-954088aeab3b",
            "instanceIdentifier" : "c134645a-0f6d-31ac-df87-968b2ccd8a0b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1448.0,
              "y" : 1408.0
            },
            "properties" : {
              "Regular Expression" : "\"metadata\"",
              "Replacement Value" : "\"@metadata\"",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "bde5c4ba-8ab6-375d-b985-81fe0a48851d",
            "instanceIdentifier" : "bb6e4cc0-49ec-3494-a623-8c383b0a27c7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "TransformXml",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 312.0,
              "y" : -48.0
            },
            "properties" : {
              "secure-processing" : "true",
              "cache-size" : "10",
              "DRAI" : "${mime.type:equals('text/plain'):and(${import_id:startsWith('DRAI')})}",
              "indent-output" : "true",
              "XSLT file name" : "/opt/nifi/nifi-current/schemas/xml-to-json.xslt",
              "cache-ttl-after-last-access" : "60 secs"
            },
            "propertyDescriptors" : {
              "xslt-controller-key" : {
                "displayName" : "XSLT Lookup key",
                "identifiesControllerService" : false,
                "name" : "xslt-controller-key",
                "sensitive" : false
              },
              "xslt-controller" : {
                "displayName" : "XSLT Lookup",
                "identifiesControllerService" : true,
                "name" : "xslt-controller",
                "sensitive" : false
              },
              "secure-processing" : {
                "displayName" : "Secure processing",
                "identifiesControllerService" : false,
                "name" : "secure-processing",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "DRAI" : {
                "displayName" : "DRAI",
                "identifiesControllerService" : false,
                "name" : "DRAI",
                "sensitive" : false
              },
              "indent-output" : {
                "displayName" : "Indent",
                "identifiesControllerService" : false,
                "name" : "indent-output",
                "sensitive" : false
              },
              "XSLT file name" : {
                "displayName" : "XSLT file name",
                "identifiesControllerService" : false,
                "name" : "XSLT file name",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "cache-ttl-after-last-access" : {
                "displayName" : "Cache TTL after last access",
                "identifiesControllerService" : false,
                "name" : "cache-ttl-after-last-access",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.TransformXml",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "4a9a07f9-0328-3d70-b0d0-67fbb1d1f071",
            "instanceIdentifier" : "272fcee3-309d-37a4-44f5-b560ecbe305d",
            "maxBackoffPeriod" : "10 mins",
            "name" : "TransformXml",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 592.0,
              "y" : 1200.0
            },
            "properties" : {
              "secure-processing" : "true",
              "cache-size" : "10",
              "indent-output" : "true",
              "XSLT file name" : "/opt/nifi/nifi-current/xslts/xml-to-json.xslt",
              "cache-ttl-after-last-access" : "60 secs"
            },
            "propertyDescriptors" : {
              "xslt-controller-key" : {
                "displayName" : "XSLT Lookup key",
                "identifiesControllerService" : false,
                "name" : "xslt-controller-key",
                "sensitive" : false
              },
              "xslt-controller" : {
                "displayName" : "XSLT Lookup",
                "identifiesControllerService" : true,
                "name" : "xslt-controller",
                "sensitive" : false
              },
              "secure-processing" : {
                "displayName" : "Secure processing",
                "identifiesControllerService" : false,
                "name" : "secure-processing",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "indent-output" : {
                "displayName" : "Indent",
                "identifiesControllerService" : false,
                "name" : "indent-output",
                "sensitive" : false
              },
              "XSLT file name" : {
                "displayName" : "XSLT file name",
                "identifiesControllerService" : false,
                "name" : "XSLT file name",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "cache-ttl-after-last-access" : {
                "displayName" : "Cache TTL after last access",
                "identifiesControllerService" : false,
                "name" : "cache-ttl-after-last-access",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.TransformXml",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "5524202c-62e4-3903-8df2-57a10882ad67",
            "instanceIdentifier" : "36b4ff3d-ac0c-3fba-b73d-cf562c355ac0",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1928.0,
              "y" : -312.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "f3f5b965-f547-3d75-ad03-e1d074615232",
            "instanceIdentifier" : "617fa273-b9a6-38ca-1117-8f1eb1bfd2aa",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 984.0,
              "y" : 1368.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "beathost" : "$.host.name",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "beathost" : {
                "displayName" : "beathost",
                "identifiesControllerService" : false,
                "name" : "beathost",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "246a466a-2c17-32e8-b75a-48f112305372",
            "instanceIdentifier" : "4dab99f6-cbcf-345b-9a0c-31be4d123da4",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2400.0,
              "y" : 1192.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "toElasticSearch" : "${mime.type:equals('text/plain'):and(${index:equals('cpu')}):or(${index:equals('local')}):or(${index:equals('mem')}):or(${index:equals('diskstat')}):or(${index:equals('chrony')}):or(${index:equals('uptime')}):or(${index:equals('mounts')})}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "toElasticSearch" : {
                "displayName" : "toElasticSearch",
                "identifiesControllerService" : false,
                "name" : "toElasticSearch",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-elasticsearch-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "05872ad8-1bda-32fe-b86c-23fba4e7f7dd",
            "instanceIdentifier" : "e118ab7e-ccf6-3ee0-f71a-d31e40ba967b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutElasticsearchHttp",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1592.0,
              "y" : 1592.0
            },
            "properties" : {
              "elasticsearch-http-response-timeout" : "15 secs",
              "put-es-type" : "_doc",
              "put-es-index" : "${beat}-7.8.1",
              "elasticsearch-http-url" : "http://${esserver}:9200",
              "put-es-batch-size" : "100",
              "elasticsearch-http-connect-timeout" : "5 secs",
              "put-es-index-op" : "index",
              "Character Set" : "UTF-8"
            },
            "propertyDescriptors" : {
              "elasticsearch-http-response-timeout" : {
                "displayName" : "Response Timeout",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-response-timeout",
                "sensitive" : false
              },
              "put-es-id-attr" : {
                "displayName" : "Identifier Attribute",
                "identifiesControllerService" : false,
                "name" : "put-es-id-attr",
                "sensitive" : false
              },
              "put-es-type" : {
                "displayName" : "Type",
                "identifiesControllerService" : false,
                "name" : "put-es-type",
                "sensitive" : false
              },
              "put-es-index" : {
                "displayName" : "Index",
                "identifiesControllerService" : false,
                "name" : "put-es-index",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "elasticsearch-http-url" : {
                "displayName" : "Elasticsearch URL",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-url",
                "sensitive" : false
              },
              "put-es-batch-size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "put-es-batch-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "elasticsearch-http-connect-timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-connect-timeout",
                "sensitive" : false
              },
              "Username" : {
                "displayName" : "Username",
                "identifiesControllerService" : false,
                "name" : "Username",
                "sensitive" : false
              },
              "put-es-index-op" : {
                "displayName" : "Index Operation",
                "identifiesControllerService" : false,
                "name" : "put-es-index-op",
                "sensitive" : false
              },
              "elasticsearch-http-proxy-host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-proxy-host",
                "sensitive" : false
              },
              "proxy-username" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "proxy-username",
                "sensitive" : false
              },
              "proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "proxy-password",
                "sensitive" : true
              },
              "elasticsearch-http-proxy-port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-proxy-port",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "26444032-a104-3e15-91a9-bda880b9e4df",
            "instanceIdentifier" : "ff254ce9-c77b-3587-742d-6f3bd0e19290",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1968.0,
              "y" : 1944.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "index" : "$.name",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "index" : {
                "displayName" : "index",
                "identifiesControllerService" : false,
                "name" : "index",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "67b180d8-4013-3c2b-9856-7eb82ab71f94",
            "instanceIdentifier" : "fc3ca519-40a2-3a0f-c8ce-d1797262569b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 3256.0,
              "y" : 1112.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "c0877ad6-b3a6-3d27-bd94-0958a9b8c704",
            "instanceIdentifier" : "37b9b042-25dc-35e0-a544-358498de0f09",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1024.0,
              "y" : 1768.0
            },
            "properties" : {
              "Regular Expression" : "XXXXXXX",
              "Replacement Value" : "${beathost}",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "815f433e-b1df-3162-b47b-d9424d4d8470",
            "instanceIdentifier" : "67e82a69-6a56-316c-90ee-d9ec0b4c49f0",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 648.0,
              "y" : 1960.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.nagios_data.check.[*]"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "fa5961cc-6221-305e-86b1-7787c1e65466",
            "instanceIdentifier" : "e7ed1fb4-6bc0-3f25-6423-d51d7c9fea41",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 632.0,
              "y" : 272.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-elasticsearch-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "0d0f73ac-3afe-3f95-9b0c-f23167726c60",
            "instanceIdentifier" : "bea1ed3b-5e91-39cc-0caa-9d5677407f39",
            "maxBackoffPeriod" : "10 mins",
            "name" : "PutElasticsearchHttp",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1272.0,
              "y" : -408.0
            },
            "properties" : {
              "elasticsearch-http-response-timeout" : "15 secs",
              "put-es-type" : "_doc",
              "put-es-index" : "test",
              "elasticsearch-http-url" : "https://10.99.1.177:9200",
              "put-es-batch-size" : "100",
              "elasticsearch-http-connect-timeout" : "5 secs",
              "put-es-index-op" : "index",
              "Character Set" : "UTF-8"
            },
            "propertyDescriptors" : {
              "elasticsearch-http-response-timeout" : {
                "displayName" : "Response Timeout",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-response-timeout",
                "sensitive" : false
              },
              "put-es-id-attr" : {
                "displayName" : "Identifier Attribute",
                "identifiesControllerService" : false,
                "name" : "put-es-id-attr",
                "sensitive" : false
              },
              "put-es-type" : {
                "displayName" : "Type",
                "identifiesControllerService" : false,
                "name" : "put-es-type",
                "sensitive" : false
              },
              "put-es-index" : {
                "displayName" : "Index",
                "identifiesControllerService" : false,
                "name" : "put-es-index",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "elasticsearch-http-url" : {
                "displayName" : "Elasticsearch URL",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-url",
                "sensitive" : false
              },
              "put-es-batch-size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "put-es-batch-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "elasticsearch-http-connect-timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-connect-timeout",
                "sensitive" : false
              },
              "Username" : {
                "displayName" : "Username",
                "identifiesControllerService" : false,
                "name" : "Username",
                "sensitive" : false
              },
              "put-es-index-op" : {
                "displayName" : "Index Operation",
                "identifiesControllerService" : false,
                "name" : "put-es-index-op",
                "sensitive" : false
              },
              "elasticsearch-http-proxy-host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-proxy-host",
                "sensitive" : false
              },
              "proxy-username" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "proxy-username",
                "sensitive" : false
              },
              "proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "proxy-password",
                "sensitive" : true
              },
              "elasticsearch-http-proxy-port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "elasticsearch-http-proxy-port",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Password" : {
                "displayName" : "Password",
                "identifiesControllerService" : false,
                "name" : "Password",
                "sensitive" : true
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "f22d459b-bde9-3e8d-a38c-64d59f116a1b",
            "instanceIdentifier" : "fc1aef13-5b66-3e40-889e-d1a8fbc2a8dd",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1544.0,
              "y" : -168.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "5b521cb4-2610-32ff-bb64-5afdb7f329e3",
            "instanceIdentifier" : "0450beec-2fa6-360b-5e23-20894fd92d0b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1960.0,
              "y" : 1192.0
            },
            "properties" : {
              "Regular Expression" : "name",
              "Replacement Value" : "@timestamp\":\"${now():toNumber()}\",\"KIOSK\":\"${kiosk}\",\"name",
              "Evaluation Mode" : "Line-by-Line",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "5ecefc96-45f6-3b96-852d-fe2f069d5e2e",
            "instanceIdentifier" : "9a78688d-f4d6-354c-6e60-19c756107e40",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1024.0,
              "y" : 1200.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.all.item.[*]"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "6e9e823a-7c38-365f-8120-62bca60e31e8",
            "identifier" : "d4bcbaac-3500-3a79-96b7-d6d3dfb843d9",
            "instanceIdentifier" : "a2ee6427-a2d5-3724-b320-284e84b0deb3",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1016.0,
              "y" : 1584.0
            },
            "properties" : {
              "Regular Expression" : ",\"host\":{",
              "Replacement Value" : ",\"host\":{\"hostname\":\"XXXXXXX\",",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Literal Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 0,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "0f73e68f-696a-3f61-a5d9-2a9e33f22aa7",
              "instanceIdentifier" : "41556fa0-9afb-34a1-8b74-e1661b7bce2f",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "c26e68f5-a0d9-3065-8921-aa4d65340b9d",
            "instanceIdentifier" : "b042667e-cda8-3346-94a6-919503721e6b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "25398c8e-9537-31f6-8a7f-8dc15e2bb9cc",
              "instanceIdentifier" : "cb1ddb1c-c4b6-3545-5ca0-4831ab73ad2f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "b5a40655-93dc-31b5-bd22-2b4deffd1ec4",
              "instanceIdentifier" : "6fefddd7-0d6f-323c-736f-385f90bc5da5",
              "name" : "toElestic",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "e2206bcb-4815-3f4d-a85b-0a92f893bf93",
            "instanceIdentifier" : "05be7866-4b2f-3965-749f-f7aa833c5779",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "f5525b2b-55ca-3ddf-9fd2-6a861fba3227",
              "instanceIdentifier" : "e052766c-8a3c-3676-d364-019573c9430e",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "25398c8e-9537-31f6-8a7f-8dc15e2bb9cc",
              "instanceIdentifier" : "cb1ddb1c-c4b6-3545-5ca0-4831ab73ad2f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "affcf610-4e37-3e70-9b83-da6e86fcb892",
            "instanceIdentifier" : "b417a769-ce63-3171-5e57-8014dba25f0f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "71654843-5832-36fa-a000-8254d5c86205",
              "id" : "f5525b2b-55ca-3ddf-9fd2-6a861fba3227",
              "instanceIdentifier" : "e052766c-8a3c-3676-d364-019573c9430e",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "0e3506ea-e788-3ffc-8430-cb8a9f56f401",
          "identifier" : "71654843-5832-36fa-a000-8254d5c86205",
          "inputPorts" : [ ],
          "instanceIdentifier" : "83d914ea-0f6b-3b05-1382-01d3f9129d4c",
          "labels" : [ ],
          "name" : "ingest",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "b5a40655-93dc-31b5-bd22-2b4deffd1ec4",
            "instanceIdentifier" : "6fefddd7-0d6f-323c-736f-385f90bc5da5",
            "name" : "toElestic",
            "position" : {
              "x" : 1543.0,
              "y" : 489.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 584.0,
            "y" : 72.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "f5525b2b-55ca-3ddf-9fd2-6a861fba3227",
            "instanceIdentifier" : "e052766c-8a3c-3676-d364-019573c9430e",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpRequest",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1148.0,
              "y" : 178.0
            },
            "properties" : {
              "multipart-request-max-size" : "1 MB",
              "Allow POST" : "true",
              "Default URL Character Set" : "UTF-8",
              "Allow DELETE" : "true",
              "container-queue-size" : "50",
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "multipart-read-buffer-size" : "512 KB",
              "Allow OPTIONS" : "false",
              "Allow GET" : "true",
              "Allow HEAD" : "false",
              "Listening Port" : "7001",
              "Client Authentication" : "No Authentication",
              "Allow PUT" : "true"
            },
            "propertyDescriptors" : {
              "multipart-request-max-size" : {
                "displayName" : "Multipart Request Max Size",
                "identifiesControllerService" : false,
                "name" : "multipart-request-max-size",
                "sensitive" : false
              },
              "parameters-to-attributes" : {
                "displayName" : "Parameters to Attributes List",
                "identifiesControllerService" : false,
                "name" : "parameters-to-attributes",
                "sensitive" : false
              },
              "Allow POST" : {
                "displayName" : "Allow POST",
                "identifiesControllerService" : false,
                "name" : "Allow POST",
                "sensitive" : false
              },
              "Hostname" : {
                "displayName" : "Hostname",
                "identifiesControllerService" : false,
                "name" : "Hostname",
                "sensitive" : false
              },
              "Default URL Character Set" : {
                "displayName" : "Default URL Character Set",
                "identifiesControllerService" : false,
                "name" : "Default URL Character Set",
                "sensitive" : false
              },
              "Allow DELETE" : {
                "displayName" : "Allow DELETE",
                "identifiesControllerService" : false,
                "name" : "Allow DELETE",
                "sensitive" : false
              },
              "Additional HTTP Methods" : {
                "displayName" : "Additional HTTP Methods",
                "identifiesControllerService" : false,
                "name" : "Additional HTTP Methods",
                "sensitive" : false
              },
              "container-queue-size" : {
                "displayName" : "Container Queue Size",
                "identifiesControllerService" : false,
                "name" : "container-queue-size",
                "sensitive" : false
              },
              "HTTP Context Map" : {
                "displayName" : "HTTP Context Map",
                "identifiesControllerService" : true,
                "name" : "HTTP Context Map",
                "sensitive" : false
              },
              "multipart-read-buffer-size" : {
                "displayName" : "Multipart Read Buffer Size",
                "identifiesControllerService" : false,
                "name" : "multipart-read-buffer-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Allow OPTIONS" : {
                "displayName" : "Allow OPTIONS",
                "identifiesControllerService" : false,
                "name" : "Allow OPTIONS",
                "sensitive" : false
              },
              "Allowed Paths" : {
                "displayName" : "Allowed Paths",
                "identifiesControllerService" : false,
                "name" : "Allowed Paths",
                "sensitive" : false
              },
              "Allow GET" : {
                "displayName" : "Allow GET",
                "identifiesControllerService" : false,
                "name" : "Allow GET",
                "sensitive" : false
              },
              "Allow HEAD" : {
                "displayName" : "Allow HEAD",
                "identifiesControllerService" : false,
                "name" : "Allow HEAD",
                "sensitive" : false
              },
              "Listening Port" : {
                "displayName" : "Listening Port",
                "identifiesControllerService" : false,
                "name" : "Listening Port",
                "sensitive" : false
              },
              "Client Authentication" : {
                "displayName" : "Client Authentication",
                "identifiesControllerService" : false,
                "name" : "Client Authentication",
                "sensitive" : false
              },
              "Allow PUT" : {
                "displayName" : "Allow PUT",
                "identifiesControllerService" : false,
                "name" : "Allow PUT",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "25398c8e-9537-31f6-8a7f-8dc15e2bb9cc",
            "instanceIdentifier" : "cb1ddb1c-c4b6-3545-5ca0-4831ab73ad2f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpResponse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 544.0,
              "y" : 184.0
            },
            "properties" : {
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "HTTP Status Code" : "200"
            },
            "propertyDescriptors" : {
              "HTTP Context Map" : {
                "displayName" : "HTTP Context Map",
                "identifiesControllerService" : true,
                "name" : "HTTP Context Map",
                "sensitive" : false
              },
              "Attributes to add to the HTTP Response (Regex)" : {
                "displayName" : "Attributes to add to the HTTP Response (Regex)",
                "identifiesControllerService" : false,
                "name" : "Attributes to add to the HTTP Response (Regex)",
                "sensitive" : false
              },
              "HTTP Status Code" : {
                "displayName" : "HTTP Status Code",
                "identifiesControllerService" : false,
                "name" : "HTTP Status Code",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "failure" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.16.3"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "71654843-5832-36fa-a000-8254d5c86205",
            "identifier" : "0f73e68f-696a-3f61-a5d9-2a9e33f22aa7",
            "instanceIdentifier" : "41556fa0-9afb-34a1-8b74-e1661b7bce2f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 863.0,
              "y" : 497.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ "success" ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}