mygit/mikeyboy.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 488.0,
            "y" : 656.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "id" : "f610139e-5f5a-3814-9d49-784f8f2f0131",
            "instanceIdentifier" : "d9fdb093-50f5-3ee8-b5e5-563fbdbd872b",
            "name" : "fromKiosk",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "edd1d97c-3ef4-3ebd-a8cb-903bf8f0c07b",
          "instanceIdentifier" : "121fa54a-afaf-3122-106c-8a2c4bd824eb",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "id" : "b5d304b6-7a84-3d75-81be-fe2608cfaad9",
            "instanceIdentifier" : "7ced44e4-bff8-3faf-ca8c-bd218f23e546",
            "name" : "toPutElastic",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 488.0,
            "y" : 408.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "id" : "4fc611d3-605f-3cda-aa5b-897f0ab9b311",
            "instanceIdentifier" : "a834260d-ebec-37da-d7c1-aabf929ba10d",
            "name" : "from ValidateXML",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "0a93ddd2-b0e4-3a6f-9dd1-c0b4c0085a03",
          "instanceIdentifier" : "4c743a52-40d5-38d0-d337-3715110139c3",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "id" : "46497e83-1f27-3b80-8d38-f3af8899f7bd",
            "instanceIdentifier" : "278d408e-be7f-3349-1d2d-be52dcd357cc",
            "name" : "to EvalutatDataInput",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 488.0,
            "y" : 248.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "id" : "78a47c0e-2d24-34c7-9880-183135f7222e",
            "instanceIdentifier" : "9c4c1b65-0412-394d-0327-b28c0ca53a1a",
            "name" : "from Ingest",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "86a8f66f-9a3f-3303-be02-0f517c8c4f50",
          "instanceIdentifier" : "313f86e5-e1de-3355-2a38-833a1408b217",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "caf2d92c-e776-3190-97c8-ca565d32aceb",
            "id" : "f43db34c-d6ee-3b5c-bc46-7587e842e313",
            "instanceIdentifier" : "1470df83-f46a-387b-4cd4-1f56570f7edc",
            "name" : "toValidateXML",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-ssl-context-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.ssl.SSLContextService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.ssl.RestrictedSSLContextService"
          } ],
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "50fe1ab2-b00b-3fa3-9438-446877290594",
          "instanceIdentifier" : "097b97d1-d0a0-35b6-dfdb-8fa24e3ae7f9",
          "name" : "StandardRestrictedSSLContextService",
          "properties" : {
            "Truststore Type" : "JKS",
            "SSL Protocol" : "TLS",
            "Keystore Type" : "JKS",
            "Truststore Filename" : "/opt/nifi/secrets/keys/truststore.jks",
            "Keystore Filename" : "/opt/nifi/secrets/keys/keystore.jks"
          },
          "propertyDescriptors" : {
            "Truststore Type" : {
              "displayName" : "Truststore Type",
              "identifiesControllerService" : false,
              "name" : "Truststore Type",
              "sensitive" : false
            },
            "SSL Protocol" : {
              "displayName" : "TLS Protocol",
              "identifiesControllerService" : false,
              "name" : "SSL Protocol",
              "sensitive" : false
            },
            "Keystore Type" : {
              "displayName" : "Keystore Type",
              "identifiesControllerService" : false,
              "name" : "Keystore Type",
              "sensitive" : false
            },
            "Truststore Filename" : {
              "displayName" : "Truststore Filename",
              "identifiesControllerService" : false,
              "name" : "Truststore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Keystore Password" : {
              "displayName" : "Keystore Password",
              "identifiesControllerService" : false,
              "name" : "Keystore Password",
              "sensitive" : true
            },
            "key-password" : {
              "displayName" : "Key Password",
              "identifiesControllerService" : false,
              "name" : "key-password",
              "sensitive" : true
            },
            "Truststore Password" : {
              "displayName" : "Truststore Password",
              "identifiesControllerService" : false,
              "name" : "Truststore Password",
              "sensitive" : true
            },
            "Keystore Filename" : {
              "displayName" : "Keystore Filename",
              "identifiesControllerService" : false,
              "name" : "Keystore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.ssl.StandardRestrictedSSLContextService"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "5fa71543-6c01-3f7d-acc0-ff0767a47bd0",
          "instanceIdentifier" : "31441dd3-115f-32e7-07ef-52a7ed708cb8",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
        "inputPorts" : [ ],
        "instanceIdentifier" : "789e5796-018c-1000-685a-45c04abd2ae1",
        "labels" : [ ],
        "name" : "root",
        "outputPorts" : [ ],
        "position" : {
          "x" : 600.0,
          "y" : 160.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "caf2d92c-e776-3190-97c8-ca565d32aceb",
          "inputPorts" : [ ],
          "instanceIdentifier" : "06470f93-898b-3c1d-fefe-300dc78c498a",
          "labels" : [ ],
          "name" : "Ingest",
          "outputPorts" : [ ],
          "position" : {
            "x" : 696.0,
            "y" : -8.0
          },
          "processGroups" : [ ],
          "processors" : [ ],
          "remoteProcessGroups" : [ ],
          "variables" : { },
          "versionedFlowCoordinates" : {
            "bucketId" : "271f6d6a-36b9-4874-85d9-d57f331c330d",
            "flowId" : "58762aa3-3557-4338-b9ef-bbbdc0d67905",
            "registryUrl" : "http://nifi-registry:18080",
            "storageLocation" : "http://nifi-registry:18080/nifi-registry-api/buckets/271f6d6a-36b9-4874-85d9-d57f331c330d/flows/58762aa3-3557-4338-b9ef-bbbdc0d67905/versions/4",
            "version" : 4
          }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 192.0,
              "y" : 1616.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "935c7cf4-3c77-3e0f-bc2c-ccb213fa539f",
              "instanceIdentifier" : "86ef8082-b6da-36ed-2a72-b887acb50964",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "1a48aaec-4c49-38c6-9739-fa44d5af832d",
            "instanceIdentifier" : "8c551ec6-fdc6-335b-4df0-21b9d98a7b25",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "e1316aa1-a6f8-3d34-b418-de7c6a38e8e4",
              "instanceIdentifier" : "ced1b37b-d6b2-3b18-e5da-cde28d00c6a1",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "397e79ff-dd51-3ff3-a352-e5ad38a8e0dd",
              "instanceIdentifier" : "e4cc46a1-068f-3381-8121-4bd1c417a1a2",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "7acca31f-af45-3d9e-ae06-1443efeee7be",
            "instanceIdentifier" : "c84886bf-6d78-38b4-e803-42ac4116c037",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "syslog" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "965c61de-1306-39ff-a293-7fecbc2e3b0d",
              "instanceIdentifier" : "5f6ce6db-5245-31c2-cbcf-4e26c67de919",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "a888e65c-9a5a-3ab6-89ab-e8b1350a07cd",
              "instanceIdentifier" : "3adcbd44-3fa7-32dd-acf9-a58cb0d88b28",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "ef097fb9-89af-3796-b4f7-ad1b4369ab49",
            "instanceIdentifier" : "715db970-8d8c-32ec-0d5e-05006a86b96e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "4f89cf75-e2dc-31c5-9111-9323d376e76d",
              "instanceIdentifier" : "bf4a416d-e7f3-3dc3-422c-9b8e61cb9b14",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 176.0,
              "y" : 1896.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "7124c772-6c4d-3ee7-a9be-aa5738bd5bb6",
              "instanceIdentifier" : "3c254778-56a2-3400-44cb-4012ccc15a26",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "2e4dbd14-c1ca-396d-a308-98658311058c",
            "instanceIdentifier" : "31b92fd4-7dca-3824-f846-bb2f613bf637",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "668ce660-7565-32d9-a943-bee33fd9d698",
              "instanceIdentifier" : "e38c0a45-1c30-34f1-6901-09181ee4788c",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 176.0,
              "y" : 1144.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "4f89cf75-e2dc-31c5-9111-9323d376e76d",
              "instanceIdentifier" : "bf4a416d-e7f3-3dc3-422c-9b8e61cb9b14",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "5bab58b0-82b8-36be-af18-5760eacebf37",
            "instanceIdentifier" : "92d2c4f6-e6e8-3fda-40f6-d6f2bdb74311",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "d1094750-2578-3279-8746-9e13437f602d",
              "instanceIdentifier" : "ae264235-1ce3-3afa-3697-59903515939f",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 200.0,
              "y" : 1480.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "e1316aa1-a6f8-3d34-b418-de7c6a38e8e4",
              "instanceIdentifier" : "ced1b37b-d6b2-3b18-e5da-cde28d00c6a1",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "39719991-c5c0-3294-bf6a-cb3a97a0213f",
            "instanceIdentifier" : "6e355c5e-1977-3476-a96e-77e5ba4b6584",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "d684be9b-5023-3f3b-8bf4-5d1d427b0d27",
              "instanceIdentifier" : "6251df69-2c48-3959-ae2f-13891fd54f18",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "965c61de-1306-39ff-a293-7fecbc2e3b0d",
              "instanceIdentifier" : "5f6ce6db-5245-31c2-cbcf-4e26c67de919",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "c21618b4-c07b-3d51-bf8e-3157369d5a4f",
            "instanceIdentifier" : "e822699c-921b-32fd-3249-2a4af2915271",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "f610139e-5f5a-3814-9d49-784f8f2f0131",
              "instanceIdentifier" : "d9fdb093-50f5-3ee8-b5e5-563fbdbd872b",
              "name" : "fromKiosk",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "a888e65c-9a5a-3ab6-89ab-e8b1350a07cd",
              "instanceIdentifier" : "3adcbd44-3fa7-32dd-acf9-a58cb0d88b28",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "5b4fd651-58c2-38b6-b3e3-0787c4ec561d",
            "instanceIdentifier" : "c3a908f2-f5b5-34fc-06c6-0b0a2c083ce7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "7124c772-6c4d-3ee7-a9be-aa5738bd5bb6",
              "instanceIdentifier" : "3c254778-56a2-3400-44cb-4012ccc15a26",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 184.0,
              "y" : 1272.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "d684be9b-5023-3f3b-8bf4-5d1d427b0d27",
              "instanceIdentifier" : "6251df69-2c48-3959-ae2f-13891fd54f18",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "f07fd127-c5d8-324e-9160-a8f785533e46",
            "instanceIdentifier" : "b2b46e2d-b97d-3fd8-0325-5c9cd1483440",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "split" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "4f89cf75-e2dc-31c5-9111-9323d376e76d",
              "instanceIdentifier" : "bf4a416d-e7f3-3dc3-422c-9b8e61cb9b14",
              "name" : "SplitJson",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "7124c772-6c4d-3ee7-a9be-aa5738bd5bb6",
              "instanceIdentifier" : "3c254778-56a2-3400-44cb-4012ccc15a26",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "cb0ecf0c-5cbf-30aa-ac0a-a453dab82c4d",
            "instanceIdentifier" : "ea941b6c-c9e0-3255-d8da-f47243ef6eab",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "3fbbfb61-f514-3de2-bfbd-52deccef1641",
              "instanceIdentifier" : "347f1bd0-5133-337a-e1e5-9be02ba960fd",
              "name" : "GenerateFlowFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "d1094750-2578-3279-8746-9e13437f602d",
              "instanceIdentifier" : "ae264235-1ce3-3afa-3697-59903515939f",
              "name" : "TransformXml",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "4dd17749-3e46-36fb-9b3d-d611d55be5ed",
            "instanceIdentifier" : "71efc54e-6ae0-3442-1e62-fdb13c0d8212",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "965c61de-1306-39ff-a293-7fecbc2e3b0d",
              "instanceIdentifier" : "5f6ce6db-5245-31c2-cbcf-4e26c67de919",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 184.0,
              "y" : 1752.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "668ce660-7565-32d9-a943-bee33fd9d698",
              "instanceIdentifier" : "e38c0a45-1c30-34f1-6901-09181ee4788c",
              "name" : "UpdateAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "7290823b-d058-3749-894a-b84c9559c305",
            "instanceIdentifier" : "5dd9601a-a162-3206-5c03-9e53eb094208",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
              "id" : "935c7cf4-3c77-3e0f-bc2c-ccb213fa539f",
              "instanceIdentifier" : "86ef8082-b6da-36ed-2a72-b887acb50964",
              "name" : "ReplaceText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "f610139e-5f5a-3814-9d49-784f8f2f0131",
            "instanceIdentifier" : "d9fdb093-50f5-3ee8-b5e5-563fbdbd872b",
            "name" : "fromKiosk",
            "position" : {
              "x" : 856.0,
              "y" : 152.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "bcb4772e-7d32-31da-5107-1e30560d245e",
          "labels" : [ ],
          "name" : "PuElasticSearch",
          "outputPorts" : [ ],
          "position" : {
            "x" : 680.0,
            "y" : 656.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "965c61de-1306-39ff-a293-7fecbc2e3b0d",
            "instanceIdentifier" : "5f6ce6db-5245-31c2-cbcf-4e26c67de919",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 784.0,
              "y" : 472.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "syslog" : "${import_id:startsWith('syslog')}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "syslog" : {
                "displayName" : "syslog",
                "identifiesControllerService" : false,
                "name" : "syslog",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "7124c772-6c4d-3ee7-a9be-aa5738bd5bb6",
            "instanceIdentifier" : "3c254778-56a2-3400-44cb-4012ccc15a26",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1920.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://elasticsearch:9200/filebeat/_doc",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Socket Write Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "SSL Context Service" : "b7a0dc99-7328-37c9-1dae-56dfe8a77c94",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Basic Authentication Username" : "elastic",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "original" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "4f89cf75-e2dc-31c5-9111-9323d376e76d",
            "instanceIdentifier" : "bf4a416d-e7f3-3dc3-422c-9b8e61cb9b14",
            "maxBackoffPeriod" : "10 mins",
            "name" : "SplitJson",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1160.0
            },
            "properties" : {
              "Null Value Representation" : "empty string",
              "JsonPath Expression" : "$.Events.Events.[*]"
            },
            "propertyDescriptors" : {
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "JsonPath Expression" : {
                "displayName" : "JsonPath Expression",
                "identifiesControllerService" : false,
                "name" : "JsonPath Expression",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitJson",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "d684be9b-5023-3f3b-8bf4-5d1d427b0d27",
            "instanceIdentifier" : "6251df69-2c48-3959-ae2f-13891fd54f18",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1312.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "beathost" : "$.host.name",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "beathost" : {
                "displayName" : "beathost",
                "identifiesControllerService" : false,
                "name" : "beathost",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "3fbbfb61-f514-3de2-bfbd-52deccef1641",
            "instanceIdentifier" : "347f1bd0-5133-337a-e1e5-9be02ba960fd",
            "maxBackoffPeriod" : "10 mins",
            "name" : "GenerateFlowFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -424.0,
              "y" : 1912.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "File Size" : "0B",
              "mime-type" : "application/json",
              "generate-ff-custom-text" : "{\"@timestamp\":\"${now()}\",\"getrepo\":{\"user\":\"admin01\",\"host\":\"x1234567\"}}",
              "Batch Size" : "1",
              "Unique FlowFiles" : "false",
              "http.headers.Content-Type" : "application/json",
              "Data Format" : "Text"
            },
            "propertyDescriptors" : {
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "File Size" : {
                "displayName" : "File Size",
                "identifiesControllerService" : false,
                "name" : "File Size",
                "sensitive" : false
              },
              "mime-type" : {
                "displayName" : "Mime Type",
                "identifiesControllerService" : false,
                "name" : "mime-type",
                "sensitive" : false
              },
              "generate-ff-custom-text" : {
                "displayName" : "Custom Text",
                "identifiesControllerService" : false,
                "name" : "generate-ff-custom-text",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Unique FlowFiles" : {
                "displayName" : "Unique FlowFiles",
                "identifiesControllerService" : false,
                "name" : "Unique FlowFiles",
                "sensitive" : false
              },
              "http.headers.Content-Type" : {
                "displayName" : "http.headers.Content-Type",
                "identifiesControllerService" : false,
                "name" : "http.headers.Content-Type",
                "sensitive" : false
              },
              "Data Format" : {
                "displayName" : "Data Format",
                "identifiesControllerService" : false,
                "name" : "Data Format",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "397e79ff-dd51-3ff3-a352-e5ad38a8e0dd",
            "instanceIdentifier" : "e4cc46a1-068f-3381-8121-4bd1c417a1a2",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1768.0,
              "y" : 656.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://elasticsearch:9200/filebeat/_doc",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Socket Write Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "SSL Context Service" : "b7a0dc99-7328-37c9-1dae-56dfe8a77c94",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Basic Authentication Username" : "elastic",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "d1094750-2578-3279-8746-9e13437f602d",
            "instanceIdentifier" : "ae264235-1ce3-3afa-3697-59903515939f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "TransformXml",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 344.0,
              "y" : 984.0
            },
            "properties" : {
              "secure-processing" : "true",
              "cache-size" : "10",
              "indent-output" : "true",
              "XSLT file name" : "/opt/nifi/nifi-current/xslts/xml-to-json.xslt",
              "cache-ttl-after-last-access" : "60 secs"
            },
            "propertyDescriptors" : {
              "xslt-controller-key" : {
                "displayName" : "XSLT Lookup key",
                "identifiesControllerService" : false,
                "name" : "xslt-controller-key",
                "sensitive" : false
              },
              "xslt-controller" : {
                "displayName" : "XSLT Lookup",
                "identifiesControllerService" : true,
                "name" : "xslt-controller",
                "sensitive" : false
              },
              "secure-processing" : {
                "displayName" : "Secure processing",
                "identifiesControllerService" : false,
                "name" : "secure-processing",
                "sensitive" : false
              },
              "cache-size" : {
                "displayName" : "Cache size",
                "identifiesControllerService" : false,
                "name" : "cache-size",
                "sensitive" : false
              },
              "indent-output" : {
                "displayName" : "Indent",
                "identifiesControllerService" : false,
                "name" : "indent-output",
                "sensitive" : false
              },
              "XSLT file name" : {
                "displayName" : "XSLT file name",
                "identifiesControllerService" : false,
                "name" : "XSLT file name",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "FILE" ]
                },
                "sensitive" : false
              },
              "cache-ttl-after-last-access" : {
                "displayName" : "Cache TTL after last access",
                "identifiesControllerService" : false,
                "name" : "cache-ttl-after-last-access",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.TransformXml",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "935c7cf4-3c77-3e0f-bc2c-ccb213fa539f",
            "instanceIdentifier" : "86ef8082-b6da-36ed-2a72-b887acb50964",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1608.0
            },
            "properties" : {
              "Regular Expression" : "XXXXXXX",
              "Replacement Value" : "${beathost}",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Regex Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "a888e65c-9a5a-3ab6-89ab-e8b1350a07cd",
            "instanceIdentifier" : "3adcbd44-3fa7-32dd-acf9-a58cb0d88b28",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1048.0,
              "y" : 1320.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "e1316aa1-a6f8-3d34-b418-de7c6a38e8e4",
            "instanceIdentifier" : "ced1b37b-d6b2-3b18-e5da-cde28d00c6a1",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ReplaceText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1464.0
            },
            "properties" : {
              "Regular Expression" : ",\"host\":{",
              "Replacement Value" : ",\"host\":{\"hostname\":\"XXXXXXX\",",
              "Evaluation Mode" : "Entire text",
              "Line-by-Line Evaluation Mode" : "All",
              "Character Set" : "UTF-8",
              "Maximum Buffer Size" : "1 MB",
              "Replacement Strategy" : "Literal Replace"
            },
            "propertyDescriptors" : {
              "Regular Expression" : {
                "displayName" : "Search Value",
                "identifiesControllerService" : false,
                "name" : "Regular Expression",
                "sensitive" : false
              },
              "Replacement Value" : {
                "displayName" : "Replacement Value",
                "identifiesControllerService" : false,
                "name" : "Replacement Value",
                "sensitive" : false
              },
              "Evaluation Mode" : {
                "displayName" : "Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Evaluation Mode",
                "sensitive" : false
              },
              "Text to Prepend" : {
                "displayName" : "Text to Prepend",
                "identifiesControllerService" : false,
                "name" : "Text to Prepend",
                "sensitive" : false
              },
              "Line-by-Line Evaluation Mode" : {
                "displayName" : "Line-by-Line Evaluation Mode",
                "identifiesControllerService" : false,
                "name" : "Line-by-Line Evaluation Mode",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Maximum Buffer Size" : {
                "displayName" : "Maximum Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Buffer Size",
                "sensitive" : false
              },
              "Replacement Strategy" : {
                "displayName" : "Replacement Strategy",
                "identifiesControllerService" : false,
                "name" : "Replacement Strategy",
                "sensitive" : false
              },
              "Text to Append" : {
                "displayName" : "Text to Append",
                "identifiesControllerService" : false,
                "name" : "Text to Append",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ReplaceText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8fc85a6b-8547-38e0-8933-c7b4b4fba396",
            "identifier" : "668ce660-7565-32d9-a943-bee33fd9d698",
            "instanceIdentifier" : "e38c0a45-1c30-34f1-6901-09181ee4788c",
            "maxBackoffPeriod" : "10 mins",
            "name" : "UpdateAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 328.0,
              "y" : 1760.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "http.headers.Content-Type" : "application/json",
              "index" : "${index:substringBefore(':')}",
              "mime.type" : "application/json",
              "body" : "$(*)"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "http.headers.Content-Type" : {
                "displayName" : "http.headers.Content-Type",
                "identifiesControllerService" : false,
                "name" : "http.headers.Content-Type",
                "sensitive" : false
              },
              "index" : {
                "displayName" : "index",
                "identifiesControllerService" : false,
                "name" : "index",
                "sensitive" : false
              },
              "mime.type" : {
                "displayName" : "mime.type",
                "identifiesControllerService" : false,
                "name" : "mime.type",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "body" : {
                "displayName" : "body",
                "identifiesControllerService" : false,
                "name" : "body",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "b5d304b6-7a84-3d75-81be-fe2608cfaad9",
              "instanceIdentifier" : "7ced44e4-bff8-3faf-ca8c-bd218f23e546",
              "name" : "toPutElastic",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "473ae339-f76d-33f4-a886-8a7430c76b96",
            "instanceIdentifier" : "c1d0bbce-eb32-3fe3-dd12-8d0608395f68",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "4d061f1f-60c9-3c84-acf2-0a4358e68546",
              "instanceIdentifier" : "98800c80-5d84-39e4-7457-b836dde32c74",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "0b84e45d-224f-3f64-bc34-d3742935f3e9",
              "instanceIdentifier" : "f2dd2848-6faf-3d52-3da2-10cbe834ead8",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "08774157-bb0a-322e-b503-5d6113da5ef6",
            "instanceIdentifier" : "a5f7cb8d-ae09-3502-9bc1-1e59bcd05efb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "4d061f1f-60c9-3c84-acf2-0a4358e68546",
              "instanceIdentifier" : "98800c80-5d84-39e4-7457-b836dde32c74",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "decd8fdc-ac13-3d9f-a0f7-5cb65eee60d6",
              "instanceIdentifier" : "705c01a0-f42b-373d-e155-522ec62ee13b",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "ef4bd941-5904-3512-8ad2-5180159019d3",
            "instanceIdentifier" : "b5e7a50c-02ef-349d-9fbf-f71846bc1ade",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure", "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "ecbe41fa-ede2-369d-8703-ff0ebbcdd083",
              "instanceIdentifier" : "88c47ca9-91ea-3cbe-09ce-2c02d331a677",
              "name" : "EvaluateXPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "decd8fdc-ac13-3d9f-a0f7-5cb65eee60d6",
              "instanceIdentifier" : "705c01a0-f42b-373d-e155-522ec62ee13b",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "df90ac6b-9039-349e-90f7-ee9976136a52",
            "instanceIdentifier" : "60f32954-99e1-3bc6-bb3e-a7637f47713f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "0b84e45d-224f-3f64-bc34-d3742935f3e9",
              "instanceIdentifier" : "f2dd2848-6faf-3d52-3da2-10cbe834ead8",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "e9bc5b4b-1ab0-3c98-8532-0f73168a5aae",
              "instanceIdentifier" : "cd76c325-715a-39f8-7b25-3a6257c21f9a",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "d682cf25-5836-38c0-b0f5-895a2b98d3ca",
            "instanceIdentifier" : "eec63141-9c5a-3b6b-e03e-aa337aa1fac5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "ecbe41fa-ede2-369d-8703-ff0ebbcdd083",
              "instanceIdentifier" : "88c47ca9-91ea-3cbe-09ce-2c02d331a677",
              "name" : "EvaluateXPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "decd8fdc-ac13-3d9f-a0f7-5cb65eee60d6",
              "instanceIdentifier" : "705c01a0-f42b-373d-e155-522ec62ee13b",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "195b7730-b27c-3c5a-9a2f-b00b5302f437",
            "instanceIdentifier" : "38aeb931-65c9-3237-20f8-9d47b7c37547",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "91374f8c-149c-3ee2-bd44-611ea8bd39c0",
              "instanceIdentifier" : "4e9b768d-9716-3fd0-74c9-f1d9e7942a3a",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "4d061f1f-60c9-3c84-acf2-0a4358e68546",
              "instanceIdentifier" : "98800c80-5d84-39e4-7457-b836dde32c74",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "1a61885b-3948-3034-9f34-697787f1c764",
            "instanceIdentifier" : "83826f3c-d1fc-351b-51de-81bc0d5fe54b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "e9bc5b4b-1ab0-3c98-8532-0f73168a5aae",
              "instanceIdentifier" : "cd76c325-715a-39f8-7b25-3a6257c21f9a",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "ecbe41fa-ede2-369d-8703-ff0ebbcdd083",
              "instanceIdentifier" : "88c47ca9-91ea-3cbe-09ce-2c02d331a677",
              "name" : "EvaluateXPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "988564bc-c42b-38ab-b27f-19cbac0958dd",
            "instanceIdentifier" : "f5fcadc9-512d-3f3b-f386-77e3133cd0b7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "syslog" ],
            "source" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "91374f8c-149c-3ee2-bd44-611ea8bd39c0",
              "instanceIdentifier" : "4e9b768d-9716-3fd0-74c9-f1d9e7942a3a",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "91374f8c-149c-3ee2-bd44-611ea8bd39c0",
              "instanceIdentifier" : "4e9b768d-9716-3fd0-74c9-f1d9e7942a3a",
              "name" : "RouteOnAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "b21ec1e8-f451-35a0-a23a-3cce10d58302",
            "instanceIdentifier" : "ccb36421-fb93-3a59-cf85-7ae4202ca0e8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
              "id" : "4fc611d3-605f-3cda-aa5b-897f0ab9b311",
              "instanceIdentifier" : "a834260d-ebec-37da-d7c1-aabf929ba10d",
              "name" : "from ValidateXML",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "4fc611d3-605f-3cda-aa5b-897f0ab9b311",
            "instanceIdentifier" : "a834260d-ebec-37da-d7c1-aabf929ba10d",
            "name" : "from ValidateXML",
            "position" : {
              "x" : 360.0,
              "y" : -144.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "8a4ba63d-cfd2-3b75-9fd2-0aa97a68e330",
          "labels" : [ ],
          "name" : "EvaluateDataInput",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "b5d304b6-7a84-3d75-81be-fe2608cfaad9",
            "instanceIdentifier" : "7ced44e4-bff8-3faf-ca8c-bd218f23e546",
            "name" : "toPutElastic",
            "position" : {
              "x" : 864.0,
              "y" : 856.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 680.0,
            "y" : 432.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "e9bc5b4b-1ab0-3c98-8532-0f73168a5aae",
            "instanceIdentifier" : "cd76c325-715a-39f8-7b25-3a6257c21f9a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseSyslog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 824.0,
              "y" : 360.0
            },
            "properties" : {
              "Character Set" : "UTF-8"
            },
            "propertyDescriptors" : {
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ParseSyslog",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "4d061f1f-60c9-3c84-acf2-0a4358e68546",
            "instanceIdentifier" : "98800c80-5d84-39e4-7457-b836dde32c74",
            "maxBackoffPeriod" : "10 mins",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 800.0,
              "y" : 544.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "false",
              "Attributes List" : "syslog.body,syslog.facility,syslog.severity,syslog.hostname,syslog.priority,syslog.timestamp",
              "Include Core Attributes" : "false",
              "JSON Handling Strategy" : "ESCAPED"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              },
              "JSON Handling Strategy" : {
                "displayName" : "JSON Handling Strategy",
                "identifiesControllerService" : false,
                "name" : "JSON Handling Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "decd8fdc-ac13-3d9f-a0f7-5cb65eee60d6",
            "instanceIdentifier" : "705c01a0-f42b-373d-e155-522ec62ee13b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1530.0000731473283,
              "y" : 281.00000364113475
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "91374f8c-149c-3ee2-bd44-611ea8bd39c0",
            "instanceIdentifier" : "4e9b768d-9716-3fd0-74c9-f1d9e7942a3a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 800.0,
              "y" : 0.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "syslog" : "${mime.type:equals('application/octet-stream'):and(${http.headers.http.headers.X-Custom-Header:startsWith('SYSLOG')})}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "syslog" : {
                "displayName" : "syslog",
                "identifiesControllerService" : false,
                "name" : "syslog",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "0b84e45d-224f-3f64-bc34-d3742935f3e9",
            "instanceIdentifier" : "f2dd2848-6faf-3d52-3da2-10cbe834ead8",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1424.0,
              "y" : 672.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "https://elasticsearch:9200/filebeat-syslog/_doc",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Socket Write Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "SSL Context Service" : "b7a0dc99-7328-37c9-1dae-56dfe8a77c94",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Basic Authentication Username" : "elastic",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "06ef94a9-fb0c-3d7e-93d8-1aa8cc9dbd6e",
            "identifier" : "ecbe41fa-ede2-369d-8703-ff0ebbcdd083",
            "instanceIdentifier" : "88c47ca9-91ea-3cbe-09ce-2c02d331a677",
            "maxBackoffPeriod" : "10 mins",
            "name" : "EvaluateXPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 800.0,
              "y" : 192.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Return Type" : "string",
              "syslog" : "//item/text()",
              "Validate DTD" : "false"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "syslog" : {
                "displayName" : "syslog",
                "identifiesControllerService" : false,
                "name" : "syslog",
                "sensitive" : false
              },
              "Validate DTD" : {
                "displayName" : "Allow DTD",
                "identifiesControllerService" : false,
                "name" : "Validate DTD",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateXPath",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
              "id" : "1a5db1d1-e0c8-3266-aa85-c75562370b94",
              "instanceIdentifier" : "9046d2c5-dff4-32b7-5d7b-fd19e0c1a623",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "d4421018-6b15-3e83-80fe-92f45d620e03",
            "instanceIdentifier" : "7c932421-da9a-3dba-6436-7794171d92f9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "invalid" ],
            "source" : {
              "comments" : "",
              "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
              "id" : "c0cb66fa-6160-3712-befd-e5d4fe647cc6",
              "instanceIdentifier" : "6738c095-28ac-39e0-f5b7-b7fe520f45f7",
              "name" : "ValidateXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
              "id" : "46497e83-1f27-3b80-8d38-f3af8899f7bd",
              "instanceIdentifier" : "278d408e-be7f-3349-1d2d-be52dcd357cc",
              "name" : "to EvalutatDataInput",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "e5ac868c-cd0e-3d2d-8e75-22962a771630",
            "instanceIdentifier" : "661a3f41-6c58-3c77-2afc-9b2b13dbd850",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "valid" ],
            "source" : {
              "comments" : "",
              "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
              "id" : "c0cb66fa-6160-3712-befd-e5d4fe647cc6",
              "instanceIdentifier" : "6738c095-28ac-39e0-f5b7-b7fe520f45f7",
              "name" : "ValidateXml",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : 688.0,
              "y" : 232.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
              "id" : "c0cb66fa-6160-3712-befd-e5d4fe647cc6",
              "instanceIdentifier" : "6738c095-28ac-39e0-f5b7-b7fe520f45f7",
              "name" : "ValidateXml",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "99fb327a-73c7-3f37-953b-5250f1ec1256",
            "instanceIdentifier" : "49b476de-80b8-39ea-7698-9fb1ebb00358",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
              "id" : "78a47c0e-2d24-34c7-9880-183135f7222e",
              "instanceIdentifier" : "9c4c1b65-0412-394d-0327-b28c0ca53a1a",
              "name" : "from Ingest",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "78a47c0e-2d24-34c7-9880-183135f7222e",
            "instanceIdentifier" : "9c4c1b65-0412-394d-0327-b28c0ca53a1a",
            "name" : "from Ingest",
            "position" : {
              "x" : 920.0,
              "y" : 72.0
            },
            "scheduledState" : "ENABLED",
            "type" : "INPUT_PORT"
          } ],
          "instanceIdentifier" : "5ce0c75e-d4bf-3e5f-2fdd-843a3040eaaa",
          "labels" : [ ],
          "name" : "VaildateXML",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "46497e83-1f27-3b80-8d38-f3af8899f7bd",
            "instanceIdentifier" : "278d408e-be7f-3349-1d2d-be52dcd357cc",
            "name" : "to EvalutatDataInput",
            "position" : {
              "x" : 768.0,
              "y" : 712.0
            },
            "scheduledState" : "ENABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 680.0,
            "y" : 216.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "c0cb66fa-6160-3712-befd-e5d4fe647cc6",
            "instanceIdentifier" : "6738c095-28ac-39e0-f5b7-b7fe520f45f7",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ValidateXml",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 976.0,
              "y" : 376.0
            },
            "properties" : {
              "Schema File" : "/opt/nifi/nifi-current/conf/syslog-1.0.0.xsd"
            },
            "propertyDescriptors" : {
              "XML Source Attribute" : {
                "displayName" : "XML Source Attribute",
                "identifiesControllerService" : false,
                "name" : "XML Source Attribute",
                "sensitive" : false
              },
              "Schema File" : {
                "displayName" : "Schema File",
                "identifiesControllerService" : false,
                "name" : "Schema File",
                "resourceDefinition" : {
                  "cardinality" : "SINGLE",
                  "resourceTypes" : [ "URL", "FILE" ]
                },
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ValidateXml",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "1a5db1d1-e0c8-3266-aa85-c75562370b94",
            "instanceIdentifier" : "9046d2c5-dff4-32b7-5d7b-fd19e0c1a623",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1856.0,
              "y" : 392.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "363ac69b-de5d-3f1b-8b0d-84e69c4e8dc7",
            "identifier" : "2eabe0f4-2827-30f5-a777-f2895f4a7cc2",
            "instanceIdentifier" : "259a1e24-6174-3a67-ecdc-150eddf0842f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "RouteOnAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 992.0,
              "y" : 160.0
            },
            "properties" : {
              "Routing Strategy" : "Route to Property name",
              "filebeat" : "${mime.type:equals('application/octet'):and(${http.headers.http.headers.X-Custom-Header:startsWith('SYSLOG')})}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "filebeat" : {
                "displayName" : "filebeat",
                "identifiesControllerService" : false,
                "name" : "filebeat",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 25,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "8e749e5c-8aa0-3ec0-9acc-6beea0e53151",
              "id" : "852c6cfa-2ce7-35c5-a7fe-f807aaae6b9f",
              "instanceIdentifier" : "7ff7433b-b510-3b46-9f22-03f30b6e2955",
              "name" : "InvokeHTTP",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "8e749e5c-8aa0-3ec0-9acc-6beea0e53151",
            "identifier" : "72e4f654-f38e-3c5c-900b-fb3d0320b731",
            "instanceIdentifier" : "d79471ec-b773-3a32-24c8-73f244729390",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "8e749e5c-8aa0-3ec0-9acc-6beea0e53151",
              "id" : "09f34a75-4a82-3673-b667-28b3a3b8e8a7",
              "instanceIdentifier" : "d3c43654-6f68-33fb-ef9e-cea045e2f525",
              "name" : "TailFile",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "8e749e5c-8aa0-3ec0-9acc-6beea0e53151",
          "inputPorts" : [ ],
          "instanceIdentifier" : "a12dc29b-53ac-3c0f-3186-e9294e24d9a9",
          "labels" : [ ],
          "name" : "MiNiFi Flow",
          "outputPorts" : [ ],
          "position" : {
            "x" : 1168.0,
            "y" : 96.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8e749e5c-8aa0-3ec0-9acc-6beea0e53151",
            "identifier" : "852c6cfa-2ce7-35c5-a7fe-f807aaae6b9f",
            "instanceIdentifier" : "7ff7433b-b510-3b46-9f22-03f30b6e2955",
            "maxBackoffPeriod" : "10 mins",
            "name" : "InvokeHTTP",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1176.0,
              "y" : 256.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "cookie-strategy" : "DISABLED",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "Content-Encoding" : "DISABLED",
              "disable-http2" : "False",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "http://nifi-0:7001",
              "Content-Type" : "${mime.type}",
              "flow-file-naming-strategy" : "RANDOM",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Socket Write Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "PUT ",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Request Header Attributes Pattern",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Response Cache Enabled",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Request Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "cookie-strategy" : {
                "displayName" : "Response Cookie Strategy",
                "identifiesControllerService" : false,
                "name" : "cookie-strategy",
                "sensitive" : false
              },
              "Connection Timeout" : {
                "displayName" : "Socket Connect Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Request Body Enabled",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Request Multipart Form-Data Filename Enabled",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Response Generation Required",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Response Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "Content-Encoding" : {
                "displayName" : "Request Content-Encoding",
                "identifiesControllerService" : false,
                "name" : "Content-Encoding",
                "sensitive" : false
              },
              "disable-http2" : {
                "displayName" : "HTTP/2 Disabled",
                "identifiesControllerService" : false,
                "name" : "disable-http2",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Socket Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Response Body Attribute Name",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Request Chunked Transfer-Encoding Enabled",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Response Redirects Enabled",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "HTTP URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Request Multipart Form-Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Request Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "flow-file-naming-strategy" : {
                "displayName" : "Response FlowFile Naming Strategy",
                "identifiesControllerService" : false,
                "name" : "flow-file-naming-strategy",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Socket Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Socket Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Socket Write Timeout" : {
                "displayName" : "Socket Write Timeout",
                "identifiesControllerService" : false,
                "name" : "Socket Write Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Response Body Attribute Size",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Response Body Ignored",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Request Digest Authentication Enabled",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Response Header Request Attributes Enabled",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "oauth2-access-token-provider" : {
                "displayName" : "Request OAuth2 Access Token Provider",
                "identifiesControllerService" : true,
                "name" : "oauth2-access-token-provider",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Request Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Request Date Header Enabled",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Request Failure Penalization Enabled",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Request User-Agent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.23.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "8e749e5c-8aa0-3ec0-9acc-6beea0e53151",
            "identifier" : "09f34a75-4a82-3673-b667-28b3a3b8e8a7",
            "instanceIdentifier" : "d3c43654-6f68-33fb-ef9e-cea045e2f525",
            "maxBackoffPeriod" : "10 mins",
            "name" : "TailFile",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 400.0,
              "y" : 256.0
            },
            "properties" : {
              "tailfile-recursive-lookup" : "false",
              "File Location" : "Local",
              "Initial Start Position" : "Beginning of File",
              "pre-allocated-buffer-size" : "65536 B",
              "Post-Rollover Tail Period" : "0 sec",
              "reread-on-nul" : "false",
              "tailfile-maximum-age" : "24 hours",
              "Max Buffer Size" : "64 KB",
              "File to Tail" : "/opt/minifi/minifi-1.21.0/logs/minifi-app.log",
              "tailfile-lookup-frequency" : "10 minutes",
              "tail-mode" : "Single file"
            },
            "propertyDescriptors" : {
              "tailfile-recursive-lookup" : {
                "displayName" : "Recursive lookup",
                "identifiesControllerService" : false,
                "name" : "tailfile-recursive-lookup",
                "sensitive" : false
              },
              "File Location" : {
                "displayName" : "State Location",
                "identifiesControllerService" : false,
                "name" : "File Location",
                "sensitive" : false
              },
              "Line Start Pattern" : {
                "displayName" : "Line Start Pattern",
                "identifiesControllerService" : false,
                "name" : "Line Start Pattern",
                "sensitive" : false
              },
              "Rolling Filename Pattern" : {
                "displayName" : "Rolling Filename Pattern",
                "identifiesControllerService" : false,
                "name" : "Rolling Filename Pattern",
                "sensitive" : false
              },
              "Initial Start Position" : {
                "displayName" : "Initial Start Position",
                "identifiesControllerService" : false,
                "name" : "Initial Start Position",
                "sensitive" : false
              },
              "pre-allocated-buffer-size" : {
                "displayName" : "Pre-Allocated Buffer Size",
                "identifiesControllerService" : false,
                "name" : "pre-allocated-buffer-size",
                "sensitive" : false
              },
              "Post-Rollover Tail Period" : {
                "displayName" : "Post-Rollover Tail Period",
                "identifiesControllerService" : false,
                "name" : "Post-Rollover Tail Period",
                "sensitive" : false
              },
              "tail-base-directory" : {
                "displayName" : "Base directory",
                "identifiesControllerService" : false,
                "name" : "tail-base-directory",
                "sensitive" : false
              },
              "reread-on-nul" : {
                "displayName" : "Reread when NUL encountered",
                "identifiesControllerService" : false,
                "name" : "reread-on-nul",
                "sensitive" : false
              },
              "tailfile-maximum-age" : {
                "displayName" : "Maximum age",
                "identifiesControllerService" : false,
                "name" : "tailfile-maximum-age",
                "sensitive" : false
              },
              "Max Buffer Size" : {
                "displayName" : "Max Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Max Buffer Size",
                "sensitive" : false
              },
              "File to Tail" : {
                "displayName" : "File(s) to Tail",
                "identifiesControllerService" : false,
                "name" : "File to Tail",
                "sensitive" : false
              },
              "tailfile-lookup-frequency" : {
                "displayName" : "Lookup frequency",
                "identifiesControllerService" : false,
                "name" : "tailfile-lookup-frequency",
                "sensitive" : false
              },
              "tail-mode" : {
                "displayName" : "Tailing mode",
                "identifiesControllerService" : false,
                "name" : "tail-mode",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "30 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.TailFile",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "13/02/19: JH added route for DRAT test imports\n04/11/19: JH added match for DRAE (monitoring data)",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "2b01bb07-926a-37f6-883e-a37dd003299d",
          "instanceIdentifier" : "cb735343-e47e-34d8-6e17-0febf465ab51",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Route Imports",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 4214.0,
            "y" : 617.0
          },
          "properties" : {
            "rYaml Monitoring" : "${mime.type:contains('text/plain'):or(${mime.type:contains('application/xml')}):and(${import_id:contains('DRAE')})}",
            "Internal Imports" : "${mime.type:equals('text/plain'):and(${import_id:startsWith('DRAI')})}",
            "rYaml Metadata" : "${mime.type:contains('application/xml'):and( ${import_id:contains('DRAG')})}",
            "North Meta" : "${mime.type:contains('application/xml'):and( ${import_id:contains('DRAM')})}",
            "rYaml Auth" : "${mime.type:equals('application/xml'):and(${import_id:startsWith('DRAL')})}",
            "North Payload" : "${mime.type:contains('application/x-tar'):and(${import_id:startsWith('DRAM')})}",
            "North direct Meta" : "${mime.type:contains('application/xml'):and( ${import_id:contains('DRAP')})}",
            "rYaml Beats" : "${mime.type:contains('application/xml'):and( ${import_id:contains('DRAF')})}",
            "South Payload" : "${mime.type:contains('application/zip'):and(${import_id:startsWith('DRAS')})}",
            "South Meta" : "${mime.type:contains('application/xml'):and( ${import_id:contains('DRAS')})}",
            "Test Imports" : "${import_id:startsWith('DRAT')}",
            "PB Wrapped payload" : "${mime.type:contains('application/x-tar'):and(${import_id:startsWith('DRAX')})}",
            "GPMI_rYaml" : "${mime.type:equals('application/xml'):and(${import_id:startsWith('DRAV')})}",
            "Routing Strategy" : "Route to Property name",
            "PB rYaml Metadata" : "${mime.type:contains('application/xml'):and( ${import_id:contains('DRAX')})}",
            "auditd_rYaml" : "${mime.type:equals('application/xml'):and(${import_id:startsWith('DRAA')})}",
            "wrapped_payload" : "${mime.type:contains('application/x-tar'):and( ${import_id:contains('DRAG')})}",
            "North Direct Payload" : "${mime.type:contains('application/x-tar'):and(${import_id:startsWith('DRAP')})}",
            "rYaml Boot" : "${mime.type:equals('text/plain'):and(${import_id:startsWith('DRAB')})}"
          },
          "propertyDescriptors" : {
            "rYaml Monitoring" : {
              "displayName" : "rYaml Monitoring",
              "identifiesControllerService" : false,
              "name" : "rYaml Monitoring",
              "sensitive" : false
            },
            "Internal Imports" : {
              "displayName" : "Internal Imports",
              "identifiesControllerService" : false,
              "name" : "Internal Imports",
              "sensitive" : false
            },
            "rYaml Metadata" : {
              "displayName" : "rYaml Metadata",
              "identifiesControllerService" : false,
              "name" : "rYaml Metadata",
              "sensitive" : false
            },
            "North Meta" : {
              "displayName" : "North Meta",
              "identifiesControllerService" : false,
              "name" : "North Meta",
              "sensitive" : false
            },
            "rYaml Auth" : {
              "displayName" : "rYaml Auth",
              "identifiesControllerService" : false,
              "name" : "rYaml Auth",
              "sensitive" : false
            },
            "North Payload" : {
              "displayName" : "North Payload",
              "identifiesControllerService" : false,
              "name" : "North Payload",
              "sensitive" : false
            },
            "North direct Meta" : {
              "displayName" : "North direct Meta",
              "identifiesControllerService" : false,
              "name" : "North direct Meta",
              "sensitive" : false
            },
            "rYaml Beats" : {
              "displayName" : "rYaml Beats",
              "identifiesControllerService" : false,
              "name" : "rYaml Beats",
              "sensitive" : false
            },
            "South Payload" : {
              "displayName" : "South Payload",
              "identifiesControllerService" : false,
              "name" : "South Payload",
              "sensitive" : false
            },
            "South Meta" : {
              "displayName" : "South Meta",
              "identifiesControllerService" : false,
              "name" : "South Meta",
              "sensitive" : false
            },
            "Test Imports" : {
              "displayName" : "Test Imports",
              "identifiesControllerService" : false,
              "name" : "Test Imports",
              "sensitive" : false
            },
            "PB Wrapped payload" : {
              "displayName" : "PB Wrapped payload",
              "identifiesControllerService" : false,
              "name" : "PB Wrapped payload",
              "sensitive" : false
            },
            "GPMI_rYaml" : {
              "displayName" : "GPMI_rYaml",
              "identifiesControllerService" : false,
              "name" : "GPMI_rYaml",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "PB rYaml Metadata" : {
              "displayName" : "PB rYaml Metadata",
              "identifiesControllerService" : false,
              "name" : "PB rYaml Metadata",
              "sensitive" : false
            },
            "auditd_rYaml" : {
              "displayName" : "auditd_rYaml",
              "identifiesControllerService" : false,
              "name" : "auditd_rYaml",
              "sensitive" : false
            },
            "wrapped_payload" : {
              "displayName" : "wrapped_payload",
              "identifiesControllerService" : false,
              "name" : "wrapped_payload",
              "sensitive" : false
            },
            "North Direct Payload" : {
              "displayName" : "North Direct Payload",
              "identifiesControllerService" : false,
              "name" : "North Direct Payload",
              "sensitive" : false
            },
            "rYaml Boot" : {
              "displayName" : "rYaml Boot",
              "identifiesControllerService" : false,
              "name" : "rYaml Boot",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "cb2c24fc-9ee9-322f-b35d-80032b5084ec",
          "instanceIdentifier" : "0489b3d5-e9f7-3d75-7ea2-2d325c30cabe",
          "maxBackoffPeriod" : "10 mins",
          "name" : "IdentifyMimeType",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3270.0,
            "y" : 641.0
          },
          "properties" : {
            "use-filename-in-detection" : "true"
          },
          "propertyDescriptors" : {
            "config-file" : {
              "displayName" : "Config File",
              "identifiesControllerService" : false,
              "name" : "config-file",
              "sensitive" : false
            },
            "use-filename-in-detection" : {
              "displayName" : "Use Filename In Detection",
              "identifiesControllerService" : false,
              "name" : "use-filename-in-detection",
              "sensitive" : false
            },
            "config-body" : {
              "displayName" : "Config Body",
              "identifiesControllerService" : false,
              "name" : "config-body",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.IdentifyMimeType",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "f6dad3bf-3002-32c1-b3d5-e79611f417ab",
          "instanceIdentifier" : "9c6fc56f-2a91-3983-73f2-3079745cf4f3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ParseSyslog",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1501.6420326947618,
            "y" : 500.4793720889219
          },
          "properties" : {
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ParseSyslog",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "8865feff-8959-39cd-9913-66712f23d6dd",
          "instanceIdentifier" : "2af40954-5264-339a-82f0-e5302c45128b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Set import_id from URI substring",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2110.0,
            "y" : 665.0
          },
          "properties" : {
            "kiosk_ip" : "${http.remote.host}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "import_id" : "${http.request.uri:substring(1)}",
            "filename_length" : "${filename:length()}"
          },
          "propertyDescriptors" : {
            "kiosk_ip" : {
              "displayName" : "kiosk_ip",
              "identifiesControllerService" : false,
              "name" : "kiosk_ip",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "import_id" : {
              "displayName" : "import_id",
              "identifiesControllerService" : false,
              "name" : "import_id",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            },
            "filename_length" : {
              "displayName" : "filename_length",
              "identifiesControllerService" : false,
              "name" : "filename_length",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.23.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "a54dd994-cf0d-3cad-b25a-6f2acf35ca09",
          "identifier" : "33455299-f294-39e2-853b-cf99a6ee5449",
          "instanceIdentifier" : "e446b4fa-7875-3081-c975-fb514fdce5cc",
          "maxBackoffPeriod" : "10 mins",
          "name" : "Validate Import_ID",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2646.0,
            "y" : 657.0
          },
          "properties" : {
            "Routing Strategy" : "Route to Property name",
            "ValidFilename" : "${import_id:startsWith('DRA'):and(${import_id:substring(3):substring(0,1):matches('A|B|E|F|G|I|L|M|P|S|T|V|X')}):and(${import_id:substringBefore('.'):length():equals('16')}):and(${import_id:endsWith('.rYaml'):or(${import_id:endsWith('.tar')}):or(${import_id:endsWith('.zip')})})}"
          },
          "propertyDescriptors" : {
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "ValidFilename" : {
              "displayName" : "ValidFilename",
              "identifiesControllerService" : false,
              "name" : "ValidFilename",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}