ingest/DICE-DEV66.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "6a7eae3f-7c68-337b-b9e2-d054a313f193",
            "instanceIdentifier" : "b2a8ee44-ca90-3aee-9e84-db3b580c3514",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "299b99a9-8fff-3f25-93e7-4d189ba226f8",
          "instanceIdentifier" : "e46b1905-e6b2-3515-1c9c-b5bb101b45ed",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "412d6d34-ce73-3980-b9e3-60f73584e955",
            "instanceIdentifier" : "4657423c-3763-3e3c-baac-98d8a3342530",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1584.0,
            "y" : 272.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
            "instanceIdentifier" : "029c4872-d510-3de8-e6a5-f97e2e1e916f",
            "name" : "ValidateXml",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "789d1515-300a-315f-8b6a-c2a43a931b7b",
          "instanceIdentifier" : "47fa710e-6d26-3ac5-68f9-733018823570",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "cb737a92-4c38-3636-b1bf-4342de74f9a2",
            "instanceIdentifier" : "43abf343-415e-3f8b-a7c3-bd5d0fd7c5d2",
            "name" : "HandleHttpRequest",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "2a5db74d-1543-3061-af71-03bea310a08d",
            "instanceIdentifier" : "87f2d246-3899-3bc2-2693-c5f4288ee1d8",
            "name" : "toValidateXML",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "bdebc1b8-ca52-3ae5-b0dc-570a299381f3",
          "instanceIdentifier" : "754a8715-0a02-3075-fb9a-64feb680b945",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "valid" ],
          "source" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
            "instanceIdentifier" : "029c4872-d510-3de8-e6a5-f97e2e1e916f",
            "name" : "ValidateXml",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "ef04afd8-0715-3673-a7fe-a6285eda92fa",
            "instanceIdentifier" : "1d2c47d5-d8b2-324e-779e-1e1caae26620",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "1f7f57f7-3f54-304f-b1c5-e4440e1454f5",
          "instanceIdentifier" : "7431ca6b-f927-34d1-db2c-017b1d076d36",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "6a7eae3f-7c68-337b-b9e2-d054a313f193",
            "instanceIdentifier" : "b2a8ee44-ca90-3aee-9e84-db3b580c3514",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "412d6d34-ce73-3980-b9e3-60f73584e955",
            "instanceIdentifier" : "4657423c-3763-3e3c-baac-98d8a3342530",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "4066a190-be98-3a04-916b-7507a3070e91",
          "instanceIdentifier" : "77ad8170-0193-1000-9006-5753c97b421a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "a78f2828-cce6-366f-81b9-9f43a786d4d4",
            "instanceIdentifier" : "77acb45b-0193-1000-1ff4-2af300e0152b",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "a78f2828-cce6-366f-81b9-9f43a786d4d4",
            "instanceIdentifier" : "77acb45b-0193-1000-1ff4-2af300e0152b",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "fa8d3bea-243d-3e6f-bad4-ced5fdb48b9c",
          "instanceIdentifier" : "7e6eeb4d-4f4e-32e9-aa01-f3510e53eb67",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "invalid" ],
          "source" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
            "instanceIdentifier" : "029c4872-d510-3de8-e6a5-f97e2e1e916f",
            "name" : "ValidateXml",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "d46e430f-c25a-3057-9676-ba3a94bf682d",
            "instanceIdentifier" : "b91c9657-7071-3d48-d584-94119f77e462",
            "name" : "HandleHttpResponse",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "f87f9a65-33ff-3fff-84fc-c42613bc236c",
          "instanceIdentifier" : "7700a735-fe3a-3bc6-e793-1309397d694f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
            "id" : "cb737a92-4c38-3636-b1bf-4342de74f9a2",
            "instanceIdentifier" : "43abf343-415e-3f8b-a7c3-bd5d0fd7c5d2",
            "name" : "HandleHttpRequest",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "1bfe4eed-2d91-3076-bd7e-caebd32eca05",
          "instanceIdentifier" : "9b861e9a-b728-3343-24f0-64dc329440c8",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-ssl-context-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "type" : "org.apache.nifi.ssl.SSLContextService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "type" : "org.apache.nifi.ssl.RestrictedSSLContextService"
          } ],
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "55a245b5-d662-3f57-a895-8a7df1251a41",
          "instanceIdentifier" : "77830b52-a582-3b13-27e9-b54fe8a0a867",
          "name" : "StandardRestrictedSSLContextService",
          "properties" : {
            "Truststore Type" : "JKS",
            "SSL Protocol" : "TLS",
            "Keystore Type" : "JKS",
            "Truststore Filename" : "/opt/nifi/secrets/keys/truststore.jks",
            "Keystore Filename" : "/opt/nifi/secrets/keys/keystore.jks"
          },
          "propertyDescriptors" : {
            "Truststore Type" : {
              "displayName" : "Truststore Type",
              "identifiesControllerService" : false,
              "name" : "Truststore Type",
              "sensitive" : false
            },
            "SSL Protocol" : {
              "displayName" : "TLS Protocol",
              "identifiesControllerService" : false,
              "name" : "SSL Protocol",
              "sensitive" : false
            },
            "Keystore Type" : {
              "displayName" : "Keystore Type",
              "identifiesControllerService" : false,
              "name" : "Keystore Type",
              "sensitive" : false
            },
            "Truststore Filename" : {
              "displayName" : "Truststore Filename",
              "identifiesControllerService" : false,
              "name" : "Truststore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Keystore Password" : {
              "displayName" : "Keystore Password",
              "identifiesControllerService" : false,
              "name" : "Keystore Password",
              "sensitive" : true
            },
            "key-password" : {
              "displayName" : "Key Password",
              "identifiesControllerService" : false,
              "name" : "key-password",
              "sensitive" : true
            },
            "Truststore Password" : {
              "displayName" : "Truststore Password",
              "identifiesControllerService" : false,
              "name" : "Truststore Password",
              "sensitive" : true
            },
            "Keystore Filename" : {
              "displayName" : "Keystore Filename",
              "identifiesControllerService" : false,
              "name" : "Keystore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.ssl.StandardRestrictedSSLContextService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
        "inputPorts" : [ ],
        "instanceIdentifier" : "778c8cd9-0193-1000-7eed-6591478a9a86",
        "labels" : [ ],
        "name" : "Ingest",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "2a5db74d-1543-3061-af71-03bea310a08d",
          "instanceIdentifier" : "87f2d246-3899-3bc2-2693-c5f4288ee1d8",
          "name" : "toValidateXML",
          "position" : {
            "x" : 1608.0,
            "y" : 336.0
          },
          "scheduledState" : "DISABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 537.0,
          "y" : 155.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "dcb17f7b-16f1-3b9e-b70e-9b56c9531c1d",
              "instanceIdentifier" : "3bba3d64-2337-33b7-9d5e-9f4b039210be",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "d2614738-32ef-3e27-b9aa-9b1e3828e435",
            "instanceIdentifier" : "3b94d76f-e2c8-390c-8d4f-0f547e3ca2d3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "7bb42499-5a3a-3f10-6d7d-64d400f791dc",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "7bb42499-5a3a-3f10-6d7d-64d400f791dc",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "37ba076e-0125-3d97-b2de-11eb2c35e9f9",
            "instanceIdentifier" : "12f74cf8-353c-3272-ca71-03f611b7478e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "184bf120-9719-3df3-b017-76aff11814b9",
              "instanceIdentifier" : "2e55ea3f-98ee-3752-9bfe-593b07d21c7b",
              "name" : "ListenSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "707d9e58-ac34-357f-b399-0ddc4b19917e",
              "instanceIdentifier" : "fa822963-1479-3399-d93c-9c75abf3079a",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "545ce17c-9b1e-3552-bd54-b583de3cfaaf",
            "instanceIdentifier" : "17669c1f-f4da-3719-7ae5-5a87b489e851",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "invalid" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "09e92c38-65b1-3abc-964e-c95ae162df56",
              "instanceIdentifier" : "5bdaf323-25f9-36a9-9abb-965f806aa0ea",
              "name" : "ListenSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "7bb42499-5a3a-3f10-6d7d-64d400f791dc",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ba996254-ac6e-3768-ba26-3dc3aac376e1",
            "instanceIdentifier" : "23eff2fb-f049-34b7-e0e5-bca38d528d14",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "09e92c38-65b1-3abc-964e-c95ae162df56",
              "instanceIdentifier" : "5bdaf323-25f9-36a9-9abb-965f806aa0ea",
              "name" : "ListenSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "7bb42499-5a3a-3f10-6d7d-64d400f791dc",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "0d726383-85a4-3a2c-958c-f606d3103fd9",
            "instanceIdentifier" : "d72bb9c1-e9f5-3a88-8324-b01b01b575f4",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ffc26f5f-91be-3dc4-8ce5-99742fd4ef09",
              "instanceIdentifier" : "ac44a859-db05-30a8-8952-e5dd05945100",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "707d9e58-ac34-357f-b399-0ddc4b19917e",
              "instanceIdentifier" : "fa822963-1479-3399-d93c-9c75abf3079a",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "7600d190-bba8-34ec-9094-b34ad4d676ab",
            "instanceIdentifier" : "29d24086-59d5-3e04-b659-52d398af9b91",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success", "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ceaff975-2441-3dee-ad18-65430a5f86af",
              "instanceIdentifier" : "66ccde1e-d29c-3a4c-aeb4-9f8a0e2d328f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ceaff975-2441-3dee-ad18-65430a5f86af",
              "instanceIdentifier" : "66ccde1e-d29c-3a4c-aeb4-9f8a0e2d328f",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ab83872a-3438-33bc-9c44-946217820115",
            "instanceIdentifier" : "3fa7d3d3-847e-3097-90ec-badf970aaec7",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ffc26f5f-91be-3dc4-8ce5-99742fd4ef09",
              "instanceIdentifier" : "ac44a859-db05-30a8-8952-e5dd05945100",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "caa978aa-9b9d-360f-89ad-fa08d697344d",
              "instanceIdentifier" : "46021dac-b4de-3c42-308a-3f6dfebd4f17",
              "name" : "toElastic",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "e49878c2-1458-3300-9847-094ba5d36564",
            "instanceIdentifier" : "c30f87a6-ea1d-3c74-e3f1-bd8fd96a562b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "dcb17f7b-16f1-3b9e-b70e-9b56c9531c1d",
              "instanceIdentifier" : "3bba3d64-2337-33b7-9d5e-9f4b039210be",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
          "inputPorts" : [ ],
          "instanceIdentifier" : "384947db-034e-348c-f5a1-aeb97807a1a2",
          "labels" : [ ],
          "name" : "HandleSyslogs",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "caa978aa-9b9d-360f-89ad-fa08d697344d",
            "instanceIdentifier" : "46021dac-b4de-3c42-308a-3f6dfebd4f17",
            "name" : "toElastic",
            "position" : {
              "x" : 1736.0,
              "y" : 1288.0
            },
            "scheduledState" : "DISABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 1924.0,
            "y" : 183.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "707d9e58-ac34-357f-b399-0ddc4b19917e",
            "instanceIdentifier" : "fa822963-1479-3399-d93c-9c75abf3079a",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1598.0,
              "y" : 802.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ffc26f5f-91be-3dc4-8ce5-99742fd4ef09",
            "instanceIdentifier" : "ac44a859-db05-30a8-8952-e5dd05945100",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpRequest",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2006.0,
              "y" : 602.0
            },
            "properties" : {
              "multipart-request-max-size" : "1 MB",
              "Allow POST" : "true",
              "Default URL Character Set" : "UTF-8",
              "Allow DELETE" : "true",
              "Maximum Threads" : "200",
              "HTTP Protocols" : "HTTP_1_1",
              "container-queue-size" : "50",
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "multipart-read-buffer-size" : "512 KB",
              "Allow OPTIONS" : "false",
              "Allow GET" : "true",
              "Allow HEAD" : "false",
              "Listening Port" : "7002",
              "Client Authentication" : "No Authentication",
              "Allow PUT" : "true"
            },
            "propertyDescriptors" : {
              "multipart-request-max-size" : {
                "displayName" : "Multipart Request Max Size",
                "identifiesControllerService" : false,
                "name" : "multipart-request-max-size",
                "sensitive" : false
              },
              "parameters-to-attributes" : {
                "displayName" : "Parameters to Attributes List",
                "identifiesControllerService" : false,
                "name" : "parameters-to-attributes",
                "sensitive" : false
              },
              "Allow POST" : {
                "displayName" : "Allow POST",
                "identifiesControllerService" : false,
                "name" : "Allow POST",
                "sensitive" : false
              },
              "Hostname" : {
                "displayName" : "Hostname",
                "identifiesControllerService" : false,
                "name" : "Hostname",
                "sensitive" : false
              },
              "Default URL Character Set" : {
                "displayName" : "Default URL Character Set",
                "identifiesControllerService" : false,
                "name" : "Default URL Character Set",
                "sensitive" : false
              },
              "Allow DELETE" : {
                "displayName" : "Allow DELETE",
                "identifiesControllerService" : false,
                "name" : "Allow DELETE",
                "sensitive" : false
              },
              "Maximum Threads" : {
                "displayName" : "Maximum Threads",
                "identifiesControllerService" : false,
                "name" : "Maximum Threads",
                "sensitive" : false
              },
              "HTTP Protocols" : {
                "displayName" : "HTTP Protocols",
                "identifiesControllerService" : false,
                "name" : "HTTP Protocols",
                "sensitive" : false
              },
              "Additional HTTP Methods" : {
                "displayName" : "Additional HTTP Methods",
                "identifiesControllerService" : false,
                "name" : "Additional HTTP Methods",
                "sensitive" : false
              },
              "container-queue-size" : {
                "displayName" : "Container Queue Size",
                "identifiesControllerService" : false,
                "name" : "container-queue-size",
                "sensitive" : false
              },
              "multipart-read-buffer-size" : {
                "displayName" : "Multipart Read Buffer Size",
                "identifiesControllerService" : false,
                "name" : "multipart-read-buffer-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Allow OPTIONS" : {
                "displayName" : "Allow OPTIONS",
                "identifiesControllerService" : false,
                "name" : "Allow OPTIONS",
                "sensitive" : false
              },
              "Allowed Paths" : {
                "displayName" : "Allowed Paths",
                "identifiesControllerService" : false,
                "name" : "Allowed Paths",
                "sensitive" : false
              },
              "Allow GET" : {
                "displayName" : "Allow GET",
                "identifiesControllerService" : false,
                "name" : "Allow GET",
                "sensitive" : false
              },
              "Allow HEAD" : {
                "displayName" : "Allow HEAD",
                "identifiesControllerService" : false,
                "name" : "Allow HEAD",
                "sensitive" : false
              },
              "Listening Port" : {
                "displayName" : "Listening Port",
                "identifiesControllerService" : false,
                "name" : "Listening Port",
                "sensitive" : false
              },
              "Client Authentication" : {
                "displayName" : "Client Authentication",
                "identifiesControllerService" : false,
                "name" : "Client Authentication",
                "sensitive" : false
              },
              "Allow PUT" : {
                "displayName" : "Allow PUT",
                "identifiesControllerService" : false,
                "name" : "Allow PUT",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
            "instanceIdentifier" : "7bb42499-5a3a-3f10-6d7d-64d400f791dc",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseSyslog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2315.007247860101,
              "y" : 943.9130417799227
            },
            "properties" : {
              "Character Set" : "UTF-8"
            },
            "propertyDescriptors" : {
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ParseSyslog",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "dcb17f7b-16f1-3b9e-b70e-9b56c9531c1d",
            "instanceIdentifier" : "3bba3d64-2337-33b7-9d5e-9f4b039210be",
            "maxBackoffPeriod" : "10 mins",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2240.0,
              "y" : 1155.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "false",
              "Pretty Print" : "false",
              "Include Core Attributes" : "true",
              "JSON Handling Strategy" : "ESCAPED"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Pretty Print" : {
                "displayName" : "Pretty Print",
                "identifiesControllerService" : false,
                "name" : "Pretty Print",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              },
              "JSON Handling Strategy" : {
                "displayName" : "JSON Handling Strategy",
                "identifiesControllerService" : false,
                "name" : "JSON Handling Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "09e92c38-65b1-3abc-964e-c95ae162df56",
            "instanceIdentifier" : "5bdaf323-25f9-36a9-9abb-965f806aa0ea",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ListenSyslog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1640.0,
              "y" : 1016.0
            },
            "properties" : {
              "Max Size of Socket Buffer" : "1 MB",
              "Max Number of TCP Connections" : "2",
              "Max Batch Size" : "1",
              "Port" : "7002",
              "socket-keep-alive" : "false",
              "Receive Buffer Size" : "65507 B",
              "Message Delimiter" : "\\n",
              "Parse Messages" : "true",
              "Protocol" : "TCP",
              "Client Auth" : "REQUIRED",
              "Character Set" : "UTF-8",
              "Max Size of Message Queue" : "10000"
            },
            "propertyDescriptors" : {
              "Max Size of Socket Buffer" : {
                "displayName" : "Max Size of Socket Buffer",
                "identifiesControllerService" : false,
                "name" : "Max Size of Socket Buffer",
                "sensitive" : false
              },
              "Max Number of TCP Connections" : {
                "displayName" : "Max Number of TCP Connections",
                "identifiesControllerService" : false,
                "name" : "Max Number of TCP Connections",
                "sensitive" : false
              },
              "Local Network Interface" : {
                "displayName" : "Local Network Interface",
                "identifiesControllerService" : false,
                "name" : "Local Network Interface",
                "sensitive" : false
              },
              "Max Batch Size" : {
                "displayName" : "Max Batch Size",
                "identifiesControllerService" : false,
                "name" : "Max Batch Size",
                "sensitive" : false
              },
              "Port" : {
                "displayName" : "Port",
                "identifiesControllerService" : false,
                "name" : "Port",
                "sensitive" : false
              },
              "socket-keep-alive" : {
                "displayName" : "Socket Keep Alive",
                "identifiesControllerService" : false,
                "name" : "socket-keep-alive",
                "sensitive" : false
              },
              "Receive Buffer Size" : {
                "displayName" : "Receive Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Receive Buffer Size",
                "sensitive" : false
              },
              "Message Delimiter" : {
                "displayName" : "Message Delimiter",
                "identifiesControllerService" : false,
                "name" : "Message Delimiter",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Parse Messages" : {
                "displayName" : "Parse Messages",
                "identifiesControllerService" : false,
                "name" : "Parse Messages",
                "sensitive" : false
              },
              "Protocol" : {
                "displayName" : "Protocol",
                "identifiesControllerService" : false,
                "name" : "Protocol",
                "sensitive" : false
              },
              "Client Auth" : {
                "displayName" : "Client Auth",
                "identifiesControllerService" : false,
                "name" : "Client Auth",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Max Size of Message Queue" : {
                "displayName" : "Max Size of Message Queue",
                "identifiesControllerService" : false,
                "name" : "Max Size of Message Queue",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ListenSyslog",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "invalid" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "184bf120-9719-3df3-b017-76aff11814b9",
            "instanceIdentifier" : "2e55ea3f-98ee-3752-9bfe-593b07d21c7b",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ListenSyslog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2775.427600005162,
              "y" : 615.7080446570188
            },
            "properties" : {
              "Max Size of Socket Buffer" : "1 MB",
              "Max Number of TCP Connections" : "2",
              "Max Batch Size" : "1",
              "Port" : "7002",
              "socket-keep-alive" : "false",
              "Receive Buffer Size" : "65507 B",
              "Message Delimiter" : "\\n",
              "Parse Messages" : "true",
              "Protocol" : "TCP",
              "Client Auth" : "REQUIRED",
              "Character Set" : "UTF-8",
              "Max Size of Message Queue" : "10000"
            },
            "propertyDescriptors" : {
              "Max Size of Socket Buffer" : {
                "displayName" : "Max Size of Socket Buffer",
                "identifiesControllerService" : false,
                "name" : "Max Size of Socket Buffer",
                "sensitive" : false
              },
              "Max Number of TCP Connections" : {
                "displayName" : "Max Number of TCP Connections",
                "identifiesControllerService" : false,
                "name" : "Max Number of TCP Connections",
                "sensitive" : false
              },
              "Local Network Interface" : {
                "displayName" : "Local Network Interface",
                "identifiesControllerService" : false,
                "name" : "Local Network Interface",
                "sensitive" : false
              },
              "Max Batch Size" : {
                "displayName" : "Max Batch Size",
                "identifiesControllerService" : false,
                "name" : "Max Batch Size",
                "sensitive" : false
              },
              "Port" : {
                "displayName" : "Port",
                "identifiesControllerService" : false,
                "name" : "Port",
                "sensitive" : false
              },
              "socket-keep-alive" : {
                "displayName" : "Socket Keep Alive",
                "identifiesControllerService" : false,
                "name" : "socket-keep-alive",
                "sensitive" : false
              },
              "Receive Buffer Size" : {
                "displayName" : "Receive Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Receive Buffer Size",
                "sensitive" : false
              },
              "Message Delimiter" : {
                "displayName" : "Message Delimiter",
                "identifiesControllerService" : false,
                "name" : "Message Delimiter",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Parse Messages" : {
                "displayName" : "Parse Messages",
                "identifiesControllerService" : false,
                "name" : "Parse Messages",
                "sensitive" : false
              },
              "Protocol" : {
                "displayName" : "Protocol",
                "identifiesControllerService" : false,
                "name" : "Protocol",
                "sensitive" : false
              },
              "Client Auth" : {
                "displayName" : "Client Auth",
                "identifiesControllerService" : false,
                "name" : "Client Auth",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Max Size of Message Queue" : {
                "displayName" : "Max Size of Message Queue",
                "identifiesControllerService" : false,
                "name" : "Max Size of Message Queue",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ListenSyslog",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ceaff975-2441-3dee-ad18-65430a5f86af",
            "instanceIdentifier" : "66ccde1e-d29c-3a4c-aeb4-9f8a0e2d328f",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpResponse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1598.0,
              "y" : 602.0
            },
            "properties" : {
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "HTTP Status Code" : "204"
            },
            "propertyDescriptors" : {
              "Attributes to add to the HTTP Response (Regex)" : {
                "displayName" : "Attributes to add to the HTTP Response (Regex)",
                "identifiesControllerService" : false,
                "name" : "Attributes to add to the HTTP Response (Regex)",
                "sensitive" : false
              },
              "HTTP Status Code" : {
                "displayName" : "HTTP Status Code",
                "identifiesControllerService" : false,
                "name" : "HTTP Status Code",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "ef04afd8-0715-3673-a7fe-a6285eda92fa",
          "instanceIdentifier" : "1d2c47d5-d8b2-324e-779e-1e1caae26620",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 648.0,
            "y" : 360.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "412d6d34-ce73-3980-b9e3-60f73584e955",
          "instanceIdentifier" : "4657423c-3763-3e3c-baac-98d8a3342530",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 760.0,
            "y" : 648.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Null Value" : "false",
            "Pretty Print" : "false",
            "Include Core Attributes" : "true",
            "JSON Handling Strategy" : "ESCAPED"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Pretty Print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "Pretty Print",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            },
            "JSON Handling Strategy" : {
              "displayName" : "JSON Handling Strategy",
              "identifiesControllerService" : false,
              "name" : "JSON Handling Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "6a7eae3f-7c68-337b-b9e2-d054a313f193",
          "instanceIdentifier" : "b2a8ee44-ca90-3aee-9e84-db3b580c3514",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 328.0,
            "y" : 600.0
          },
          "properties" : {
            "elasticsearch-http-response-timeout" : "15 secs",
            "put-es-index" : "invalid",
            "elasticsearch-http-url" : "https://elasticsearch:9200",
            "put-es-batch-size" : "100",
            "SSL Context Service" : "55a245b5-d662-3f57-a895-8a7df1251a41",
            "elasticsearch-http-connect-timeout" : "5 secs",
            "Username" : "elastic",
            "put-es-index-op" : "index",
            "Character Set" : "UTF-8"
          },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "Response Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : false
            },
            "put-es-id-attr" : {
              "displayName" : "Identifier Attribute",
              "identifiesControllerService" : false,
              "name" : "put-es-id-attr",
              "sensitive" : false
            },
            "put-es-type" : {
              "displayName" : "Type",
              "identifiesControllerService" : false,
              "name" : "put-es-type",
              "sensitive" : false
            },
            "put-es-index" : {
              "displayName" : "Index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "elasticsearch-http-url" : {
              "displayName" : "Elasticsearch URL",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : false
            },
            "put-es-batch-size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "put-es-index-op" : {
              "displayName" : "Index Operation",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : false
            },
            "elasticsearch-http-proxy-host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-host",
              "sensitive" : false
            },
            "proxy-username" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-username",
              "sensitive" : false
            },
            "proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-password",
              "sensitive" : true
            },
            "elasticsearch-http-proxy-port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-proxy-port",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "cb737a92-4c38-3636-b1bf-4342de74f9a2",
          "instanceIdentifier" : "43abf343-415e-3f8b-a7c3-bd5d0fd7c5d2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "HandleHttpRequest",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1056.0,
            "y" : 160.0
          },
          "properties" : {
            "multipart-request-max-size" : "1 MB",
            "Allow POST" : "true",
            "Default URL Character Set" : "UTF-8",
            "Allow DELETE" : "true",
            "Maximum Threads" : "200",
            "HTTP Protocols" : "HTTP_1_1",
            "container-queue-size" : "50",
            "HTTP Context Map" : "1bfe4eed-2d91-3076-bd7e-caebd32eca05",
            "multipart-read-buffer-size" : "512 KB",
            "Allow OPTIONS" : "false",
            "Allow GET" : "true",
            "Allow HEAD" : "false",
            "Listening Port" : "7001",
            "Client Authentication" : "No Authentication",
            "Allow PUT" : "true"
          },
          "propertyDescriptors" : {
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "parameters-to-attributes" : {
              "displayName" : "Parameters to Attributes List",
              "identifiesControllerService" : false,
              "name" : "parameters-to-attributes",
              "sensitive" : false
            },
            "Allow POST" : {
              "displayName" : "Allow POST",
              "identifiesControllerService" : false,
              "name" : "Allow POST",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Default URL Character Set" : {
              "displayName" : "Default URL Character Set",
              "identifiesControllerService" : false,
              "name" : "Default URL Character Set",
              "sensitive" : false
            },
            "Allow DELETE" : {
              "displayName" : "Allow DELETE",
              "identifiesControllerService" : false,
              "name" : "Allow DELETE",
              "sensitive" : false
            },
            "Maximum Threads" : {
              "displayName" : "Maximum Threads",
              "identifiesControllerService" : false,
              "name" : "Maximum Threads",
              "sensitive" : false
            },
            "HTTP Protocols" : {
              "displayName" : "HTTP Protocols",
              "identifiesControllerService" : false,
              "name" : "HTTP Protocols",
              "sensitive" : false
            },
            "Additional HTTP Methods" : {
              "displayName" : "Additional HTTP Methods",
              "identifiesControllerService" : false,
              "name" : "Additional HTTP Methods",
              "sensitive" : false
            },
            "container-queue-size" : {
              "displayName" : "Container Queue Size",
              "identifiesControllerService" : false,
              "name" : "container-queue-size",
              "sensitive" : false
            },
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Allow OPTIONS" : {
              "displayName" : "Allow OPTIONS",
              "identifiesControllerService" : false,
              "name" : "Allow OPTIONS",
              "sensitive" : false
            },
            "Allowed Paths" : {
              "displayName" : "Allowed Paths",
              "identifiesControllerService" : false,
              "name" : "Allowed Paths",
              "sensitive" : false
            },
            "Allow GET" : {
              "displayName" : "Allow GET",
              "identifiesControllerService" : false,
              "name" : "Allow GET",
              "sensitive" : false
            },
            "Allow HEAD" : {
              "displayName" : "Allow HEAD",
              "identifiesControllerService" : false,
              "name" : "Allow HEAD",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "Client Authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "Client Authentication",
              "sensitive" : false
            },
            "Allow PUT" : {
              "displayName" : "Allow PUT",
              "identifiesControllerService" : false,
              "name" : "Allow PUT",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
          "instanceIdentifier" : "029c4872-d510-3de8-e6a5-f97e2e1e916f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ValidateXml",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1214.0146125647252,
            "y" : 517.2139624063402
          },
          "properties" : { },
          "propertyDescriptors" : {
            "XML Source Attribute" : {
              "displayName" : "XML Source Attribute",
              "identifiesControllerService" : false,
              "name" : "XML Source Attribute",
              "sensitive" : false
            },
            "Schema File" : {
              "displayName" : "Schema File",
              "identifiesControllerService" : false,
              "name" : "Schema File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "URL" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ValidateXml",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "d46e430f-c25a-3057-9676-ba3a94bf682d",
          "instanceIdentifier" : "b91c9657-7071-3d48-d584-94119f77e462",
          "maxBackoffPeriod" : "10 mins",
          "name" : "HandleHttpResponse",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 648.0,
            "y" : 160.0
          },
          "properties" : {
            "HTTP Context Map" : "1bfe4eed-2d91-3076-bd7e-caebd32eca05",
            "HTTP Status Code" : "204"
          },
          "propertyDescriptors" : {
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "Attributes to add to the HTTP Response (Regex)" : {
              "displayName" : "Attributes to add to the HTTP Response (Regex)",
              "identifiesControllerService" : false,
              "name" : "Attributes to add to the HTTP Response (Regex)",
              "sensitive" : false
            },
            "HTTP Status Code" : {
              "displayName" : "HTTP Status Code",
              "identifiesControllerService" : false,
              "name" : "HTTP Status Code",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "78844dc9-1b62-3cfd-b70e-bd24e3e0a493",
          "identifier" : "a78f2828-cce6-366f-81b9-9f43a786d4d4",
          "instanceIdentifier" : "77acb45b-0193-1000-1ff4-2af300e0152b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1304.0,
            "y" : 768.0
          },
          "properties" : {
            "@timestamp" : "${now():toNumber()}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "@timestamp" : {
              "displayName" : "@timestamp",
              "identifiesControllerService" : false,
              "name" : "@timestamp",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}