ingest/DICE-DEV66.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "6a7eae3f-7c68-337b-b9e2-d054a313f193",
            "instanceIdentifier" : "d5d149b6-8fb4-3b2e-9f72-4c740d3cf018",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "299b99a9-8fff-3f25-93e7-4d189ba226f8",
          "instanceIdentifier" : "7bed8ab4-74f5-3ea1-81ed-2238bc8eaa6e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "412d6d34-ce73-3980-b9e3-60f73584e955",
            "instanceIdentifier" : "39bc0330-b623-3049-8475-e5cfb34e7d85",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1584.0,
            "y" : 272.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
            "instanceIdentifier" : "944cead2-d80c-3aa9-90a9-ceb4988b67fb",
            "name" : "ValidateXml",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "789d1515-300a-315f-8b6a-c2a43a931b7b",
          "instanceIdentifier" : "9e3edfda-8e9b-3778-8b77-856a6da596b5",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "cb737a92-4c38-3636-b1bf-4342de74f9a2",
            "instanceIdentifier" : "f5518bac-5dd8-3f3e-b256-adaa0ea2a034",
            "name" : "HandleHttpRequest",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "2a5db74d-1543-3061-af71-03bea310a08d",
            "instanceIdentifier" : "877d299f-1237-3a8a-ba49-e4917f38c7e9",
            "name" : "toValidateXML",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "bdebc1b8-ca52-3ae5-b0dc-570a299381f3",
          "instanceIdentifier" : "b7d649c8-a546-3dcc-8678-f4f90a6f3785",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "valid" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
            "instanceIdentifier" : "944cead2-d80c-3aa9-90a9-ceb4988b67fb",
            "name" : "ValidateXml",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "ef04afd8-0715-3673-a7fe-a6285eda92fa",
            "instanceIdentifier" : "d5c3924f-1b7a-3e6c-8264-83bb382d4e92",
            "name" : "LogAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "1f7f57f7-3f54-304f-b1c5-e4440e1454f5",
          "instanceIdentifier" : "2e6219b0-78d2-3590-a89c-cf6ef522893e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "6a7eae3f-7c68-337b-b9e2-d054a313f193",
            "instanceIdentifier" : "d5d149b6-8fb4-3b2e-9f72-4c740d3cf018",
            "name" : "PutElasticsearchHttp",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "412d6d34-ce73-3980-b9e3-60f73584e955",
            "instanceIdentifier" : "39bc0330-b623-3049-8475-e5cfb34e7d85",
            "name" : "AttributesToJSON",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "4066a190-be98-3a04-916b-7507a3070e91",
          "instanceIdentifier" : "29bc9939-01c1-3ca2-b3a8-87bbcdf3de3d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "a78f2828-cce6-366f-81b9-9f43a786d4d4",
            "instanceIdentifier" : "d423364d-a32b-3e18-93e2-7c98384f9042",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "a78f2828-cce6-366f-81b9-9f43a786d4d4",
            "instanceIdentifier" : "d423364d-a32b-3e18-93e2-7c98384f9042",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "fa8d3bea-243d-3e6f-bad4-ced5fdb48b9c",
          "instanceIdentifier" : "d38052e3-d0fa-3ed9-ac40-d498e361d0b2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "invalid" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
            "instanceIdentifier" : "944cead2-d80c-3aa9-90a9-ceb4988b67fb",
            "name" : "ValidateXml",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "d46e430f-c25a-3057-9676-ba3a94bf682d",
            "instanceIdentifier" : "d6840fcd-eb77-3e56-b5b4-e470c0242324",
            "name" : "HandleHttpResponse",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "f87f9a65-33ff-3fff-84fc-c42613bc236c",
          "instanceIdentifier" : "c4de7ca5-0264-30c9-a85a-c5290e7c61a4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
            "id" : "cb737a92-4c38-3636-b1bf-4342de74f9a2",
            "instanceIdentifier" : "f5518bac-5dd8-3f3e-b256-adaa0ea2a034",
            "name" : "HandleHttpRequest",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "1bfe4eed-2d91-3076-bd7e-caebd32eca05",
          "instanceIdentifier" : "bf7a391a-8743-3d54-a3c3-bc9e964e1d3c",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-ssl-context-service-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.ssl.RestrictedSSLContextService"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.ssl.SSLContextProvider"
          }, {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "type" : "org.apache.nifi.ssl.SSLContextService"
          } ],
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "55a245b5-d662-3f57-a895-8a7df1251a41",
          "instanceIdentifier" : "da1d391c-41ef-3253-8c1c-5c825dc11d48",
          "name" : "StandardRestrictedSSLContextService",
          "properties" : {
            "Truststore Type" : "JKS",
            "SSL Protocol" : "TLS",
            "Keystore Type" : "JKS",
            "Truststore Filename" : "/opt/nifi/secrets/keys/truststore.jks",
            "Keystore Filename" : "/opt/nifi/secrets/keys/keystore.jks"
          },
          "propertyDescriptors" : {
            "Truststore Type" : {
              "displayName" : "Truststore Type",
              "identifiesControllerService" : false,
              "name" : "Truststore Type",
              "sensitive" : false
            },
            "SSL Protocol" : {
              "displayName" : "TLS Protocol",
              "identifiesControllerService" : false,
              "name" : "SSL Protocol",
              "sensitive" : false
            },
            "Keystore Type" : {
              "displayName" : "Keystore Type",
              "identifiesControllerService" : false,
              "name" : "Keystore Type",
              "sensitive" : false
            },
            "Truststore Filename" : {
              "displayName" : "Truststore Filename",
              "identifiesControllerService" : false,
              "name" : "Truststore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Keystore Password" : {
              "displayName" : "Keystore Password",
              "identifiesControllerService" : false,
              "name" : "Keystore Password",
              "sensitive" : true
            },
            "key-password" : {
              "displayName" : "Key Password",
              "identifiesControllerService" : false,
              "name" : "key-password",
              "sensitive" : true
            },
            "Truststore Password" : {
              "displayName" : "Truststore Password",
              "identifiesControllerService" : false,
              "name" : "Truststore Password",
              "sensitive" : true
            },
            "Keystore Filename" : {
              "displayName" : "Keystore Filename",
              "identifiesControllerService" : false,
              "name" : "Keystore Filename",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.ssl.StandardRestrictedSSLContextService"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
        "inputPorts" : [ ],
        "instanceIdentifier" : "5f305eb0-0196-1000-ffff-ffffd4e36319",
        "labels" : [ ],
        "name" : "Ingest",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "2a5db74d-1543-3061-af71-03bea310a08d",
          "instanceIdentifier" : "877d299f-1237-3a8a-ba49-e4917f38c7e9",
          "name" : "toValidateXML",
          "position" : {
            "x" : 1608.0,
            "y" : 336.0
          },
          "scheduledState" : "DISABLED",
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 1859.0,
          "y" : 135.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "dcb17f7b-16f1-3b9e-b70e-9b56c9531c1d",
              "instanceIdentifier" : "ef16cae2-c351-33c6-b827-0995a5ce7ee6",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "d2614738-32ef-3e27-b9aa-9b1e3828e435",
            "instanceIdentifier" : "285ccbd0-ebd3-3c78-906a-23f88542c553",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "296b967d-5c88-3203-9ed4-da06a37e0768",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "296b967d-5c88-3203-9ed4-da06a37e0768",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "37ba076e-0125-3d97-b2de-11eb2c35e9f9",
            "instanceIdentifier" : "0c47a346-1fe4-3531-9ca0-a1fd97c3d7be",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "184bf120-9719-3df3-b017-76aff11814b9",
              "instanceIdentifier" : "23706561-3692-3624-acab-e3762cad2823",
              "name" : "ListenSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "707d9e58-ac34-357f-b399-0ddc4b19917e",
              "instanceIdentifier" : "1c6c2667-647d-315a-833c-3623b710e8c6",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "545ce17c-9b1e-3552-bd54-b583de3cfaaf",
            "instanceIdentifier" : "069fb39a-f7a4-3ce1-b4a0-bac35cdc0051",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "invalid" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "09e92c38-65b1-3abc-964e-c95ae162df56",
              "instanceIdentifier" : "b28afc12-579f-30c5-9ea4-0b4fba67a454",
              "name" : "ListenSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "296b967d-5c88-3203-9ed4-da06a37e0768",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ba996254-ac6e-3768-ba26-3dc3aac376e1",
            "instanceIdentifier" : "4647acb9-4df7-3bab-a7ec-b98d8231979d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "09e92c38-65b1-3abc-964e-c95ae162df56",
              "instanceIdentifier" : "b28afc12-579f-30c5-9ea4-0b4fba67a454",
              "name" : "ListenSyslog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
              "instanceIdentifier" : "296b967d-5c88-3203-9ed4-da06a37e0768",
              "name" : "ParseSyslog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "0d726383-85a4-3a2c-958c-f606d3103fd9",
            "instanceIdentifier" : "d7519d2a-771b-3860-b4ec-79fbd5bb5c68",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ffc26f5f-91be-3dc4-8ce5-99742fd4ef09",
              "instanceIdentifier" : "58572503-62c4-3d14-a60a-9d7294ce68d3",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ceaff975-2441-3dee-ad18-65430a5f86af",
              "instanceIdentifier" : "471cfefc-b8cf-3038-a9ce-2a3db9f5fe76",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ab83872a-3438-33bc-9c44-946217820115",
            "instanceIdentifier" : "9b13f77c-51c9-3c9b-b739-166fe614e4ee",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ffc26f5f-91be-3dc4-8ce5-99742fd4ef09",
              "instanceIdentifier" : "58572503-62c4-3d14-a60a-9d7294ce68d3",
              "name" : "HandleHttpRequest",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "707d9e58-ac34-357f-b399-0ddc4b19917e",
              "instanceIdentifier" : "1c6c2667-647d-315a-833c-3623b710e8c6",
              "name" : "LogAttribute",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "7600d190-bba8-34ec-9094-b34ad4d676ab",
            "instanceIdentifier" : "8c2c6400-9167-3d1e-b653-f65db34d339e",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success", "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "ceaff975-2441-3dee-ad18-65430a5f86af",
              "instanceIdentifier" : "471cfefc-b8cf-3038-a9ce-2a3db9f5fe76",
              "name" : "HandleHttpResponse",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "caa978aa-9b9d-360f-89ad-fa08d697344d",
              "instanceIdentifier" : "26a63c81-ba5a-36b6-a526-86ded56b598b",
              "name" : "toElastic",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "e49878c2-1458-3300-9847-094ba5d36564",
            "instanceIdentifier" : "d15d569a-3c96-375c-ba20-c0050fad1fe3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "2f572287-b4ff-3a66-b884-d6744983dea6",
              "id" : "dcb17f7b-16f1-3b9e-b70e-9b56c9531c1d",
              "instanceIdentifier" : "ef16cae2-c351-33c6-b827-0995a5ce7ee6",
              "name" : "AttributesToJSON",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "1 GB",
          "defaultBackPressureObjectThreshold" : 10000,
          "defaultFlowFileExpiration" : "0 sec",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
          "inputPorts" : [ ],
          "instanceIdentifier" : "02899c8b-0ef8-3bbc-bcc3-e2b3fb907d95",
          "labels" : [ ],
          "name" : "HandleSyslogs",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "caa978aa-9b9d-360f-89ad-fa08d697344d",
            "instanceIdentifier" : "26a63c81-ba5a-36b6-a526-86ded56b598b",
            "name" : "toElastic",
            "position" : {
              "x" : 1736.0,
              "y" : 1288.0
            },
            "scheduledState" : "DISABLED",
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 1924.0,
            "y" : 183.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "success" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "707d9e58-ac34-357f-b399-0ddc4b19917e",
            "instanceIdentifier" : "1c6c2667-647d-315a-833c-3623b710e8c6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "LogAttribute",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1598.0,
              "y" : 802.0
            },
            "properties" : {
              "character-set" : "UTF-8",
              "Log FlowFile Properties" : "true",
              "Log Level" : "info",
              "attributes-to-log-regex" : ".*",
              "Output Format" : "Line per Attribute",
              "Log Payload" : "false"
            },
            "propertyDescriptors" : {
              "Log prefix" : {
                "displayName" : "Log prefix",
                "identifiesControllerService" : false,
                "name" : "Log prefix",
                "sensitive" : false
              },
              "character-set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "character-set",
                "sensitive" : false
              },
              "Log FlowFile Properties" : {
                "displayName" : "Log FlowFile Properties",
                "identifiesControllerService" : false,
                "name" : "Log FlowFile Properties",
                "sensitive" : false
              },
              "Log Level" : {
                "displayName" : "Log Level",
                "identifiesControllerService" : false,
                "name" : "Log Level",
                "sensitive" : false
              },
              "attributes-to-ignore-regex" : {
                "displayName" : "Attributes to Ignore by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-ignore-regex",
                "sensitive" : false
              },
              "Attributes to Ignore" : {
                "displayName" : "Attributes to Ignore",
                "identifiesControllerService" : false,
                "name" : "Attributes to Ignore",
                "sensitive" : false
              },
              "Attributes to Log" : {
                "displayName" : "Attributes to Log",
                "identifiesControllerService" : false,
                "name" : "Attributes to Log",
                "sensitive" : false
              },
              "attributes-to-log-regex" : {
                "displayName" : "Attributes to Log by Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-log-regex",
                "sensitive" : false
              },
              "Output Format" : {
                "displayName" : "Output Format",
                "identifiesControllerService" : false,
                "name" : "Output Format",
                "sensitive" : false
              },
              "Log Payload" : {
                "displayName" : "Log Payload",
                "identifiesControllerService" : false,
                "name" : "Log Payload",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.LogAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ffc26f5f-91be-3dc4-8ce5-99742fd4ef09",
            "instanceIdentifier" : "58572503-62c4-3d14-a60a-9d7294ce68d3",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpRequest",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2006.0,
              "y" : 602.0
            },
            "properties" : {
              "multipart-request-max-size" : "1 MB",
              "Allow POST" : "true",
              "Default URL Character Set" : "UTF-8",
              "Allow DELETE" : "true",
              "Request Header Maximum Size" : "8 KB",
              "Maximum Threads" : "200",
              "HTTP Protocols" : "HTTP_1_1",
              "container-queue-size" : "50",
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "multipart-read-buffer-size" : "512 KB",
              "Allow OPTIONS" : "false",
              "Allow GET" : "true",
              "Allow HEAD" : "false",
              "Listening Port" : "7002",
              "Client Authentication" : "No Authentication",
              "Allow PUT" : "true"
            },
            "propertyDescriptors" : {
              "multipart-request-max-size" : {
                "displayName" : "Multipart Request Max Size",
                "identifiesControllerService" : false,
                "name" : "multipart-request-max-size",
                "sensitive" : false
              },
              "parameters-to-attributes" : {
                "displayName" : "Parameters to Attributes List",
                "identifiesControllerService" : false,
                "name" : "parameters-to-attributes",
                "sensitive" : false
              },
              "Allow POST" : {
                "displayName" : "Allow POST",
                "identifiesControllerService" : false,
                "name" : "Allow POST",
                "sensitive" : false
              },
              "Hostname" : {
                "displayName" : "Hostname",
                "identifiesControllerService" : false,
                "name" : "Hostname",
                "sensitive" : false
              },
              "Default URL Character Set" : {
                "displayName" : "Default URL Character Set",
                "identifiesControllerService" : false,
                "name" : "Default URL Character Set",
                "sensitive" : false
              },
              "Allow DELETE" : {
                "displayName" : "Allow DELETE",
                "identifiesControllerService" : false,
                "name" : "Allow DELETE",
                "sensitive" : false
              },
              "Request Header Maximum Size" : {
                "displayName" : "Request Header Maximum Size",
                "identifiesControllerService" : false,
                "name" : "Request Header Maximum Size",
                "sensitive" : false
              },
              "Maximum Threads" : {
                "displayName" : "Maximum Threads",
                "identifiesControllerService" : false,
                "name" : "Maximum Threads",
                "sensitive" : false
              },
              "HTTP Protocols" : {
                "displayName" : "HTTP Protocols",
                "identifiesControllerService" : false,
                "name" : "HTTP Protocols",
                "sensitive" : false
              },
              "Additional HTTP Methods" : {
                "displayName" : "Additional HTTP Methods",
                "identifiesControllerService" : false,
                "name" : "Additional HTTP Methods",
                "sensitive" : false
              },
              "container-queue-size" : {
                "displayName" : "Container Queue Size",
                "identifiesControllerService" : false,
                "name" : "container-queue-size",
                "sensitive" : false
              },
              "multipart-read-buffer-size" : {
                "displayName" : "Multipart Read Buffer Size",
                "identifiesControllerService" : false,
                "name" : "multipart-read-buffer-size",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Allow OPTIONS" : {
                "displayName" : "Allow OPTIONS",
                "identifiesControllerService" : false,
                "name" : "Allow OPTIONS",
                "sensitive" : false
              },
              "Allowed Paths" : {
                "displayName" : "Allowed Paths",
                "identifiesControllerService" : false,
                "name" : "Allowed Paths",
                "sensitive" : false
              },
              "Allow GET" : {
                "displayName" : "Allow GET",
                "identifiesControllerService" : false,
                "name" : "Allow GET",
                "sensitive" : false
              },
              "Allow HEAD" : {
                "displayName" : "Allow HEAD",
                "identifiesControllerService" : false,
                "name" : "Allow HEAD",
                "sensitive" : false
              },
              "Listening Port" : {
                "displayName" : "Listening Port",
                "identifiesControllerService" : false,
                "name" : "Listening Port",
                "sensitive" : false
              },
              "Client Authentication" : {
                "displayName" : "Client Authentication",
                "identifiesControllerService" : false,
                "name" : "Client Authentication",
                "sensitive" : false
              },
              "Allow PUT" : {
                "displayName" : "Allow PUT",
                "identifiesControllerService" : false,
                "name" : "Allow PUT",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "6be0ca10-797a-33fc-b9e3-c05f23656e36",
            "instanceIdentifier" : "296b967d-5c88-3203-9ed4-da06a37e0768",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ParseSyslog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2315.007247860101,
              "y" : 943.9130417799227
            },
            "properties" : {
              "Character Set" : "UTF-8"
            },
            "propertyDescriptors" : {
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ParseSyslog",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "dcb17f7b-16f1-3b9e-b70e-9b56c9531c1d",
            "instanceIdentifier" : "ef16cae2-c351-33c6-b827-0995a5ce7ee6",
            "maxBackoffPeriod" : "10 mins",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2240.0,
              "y" : 1155.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "false",
              "Pretty Print" : "false",
              "Include Core Attributes" : "true",
              "JSON Handling Strategy" : "ESCAPED"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Pretty Print" : {
                "displayName" : "Pretty Print",
                "identifiesControllerService" : false,
                "name" : "Pretty Print",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              },
              "JSON Handling Strategy" : {
                "displayName" : "JSON Handling Strategy",
                "identifiesControllerService" : false,
                "name" : "JSON Handling Strategy",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "09e92c38-65b1-3abc-964e-c95ae162df56",
            "instanceIdentifier" : "b28afc12-579f-30c5-9ea4-0b4fba67a454",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ListenSyslog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1640.0,
              "y" : 1016.0
            },
            "properties" : {
              "Max Size of Socket Buffer" : "1 MB",
              "Max Number of TCP Connections" : "2",
              "Max Batch Size" : "1",
              "Port" : "7002",
              "socket-keep-alive" : "false",
              "Receive Buffer Size" : "65507 B",
              "Message Delimiter" : "\\n",
              "Parse Messages" : "true",
              "Protocol" : "TCP",
              "Client Auth" : "REQUIRED",
              "Character Set" : "UTF-8",
              "Max Size of Message Queue" : "10000"
            },
            "propertyDescriptors" : {
              "Max Size of Socket Buffer" : {
                "displayName" : "Max Size of Socket Buffer",
                "identifiesControllerService" : false,
                "name" : "Max Size of Socket Buffer",
                "sensitive" : false
              },
              "Max Number of TCP Connections" : {
                "displayName" : "Max Number of TCP Connections",
                "identifiesControllerService" : false,
                "name" : "Max Number of TCP Connections",
                "sensitive" : false
              },
              "Local Network Interface" : {
                "displayName" : "Local Network Interface",
                "identifiesControllerService" : false,
                "name" : "Local Network Interface",
                "sensitive" : false
              },
              "Max Batch Size" : {
                "displayName" : "Max Batch Size",
                "identifiesControllerService" : false,
                "name" : "Max Batch Size",
                "sensitive" : false
              },
              "Port" : {
                "displayName" : "Port",
                "identifiesControllerService" : false,
                "name" : "Port",
                "sensitive" : false
              },
              "socket-keep-alive" : {
                "displayName" : "Socket Keep Alive",
                "identifiesControllerService" : false,
                "name" : "socket-keep-alive",
                "sensitive" : false
              },
              "Receive Buffer Size" : {
                "displayName" : "Receive Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Receive Buffer Size",
                "sensitive" : false
              },
              "Message Delimiter" : {
                "displayName" : "Message Delimiter",
                "identifiesControllerService" : false,
                "name" : "Message Delimiter",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Parse Messages" : {
                "displayName" : "Parse Messages",
                "identifiesControllerService" : false,
                "name" : "Parse Messages",
                "sensitive" : false
              },
              "Protocol" : {
                "displayName" : "Protocol",
                "identifiesControllerService" : false,
                "name" : "Protocol",
                "sensitive" : false
              },
              "Client Auth" : {
                "displayName" : "Client Auth",
                "identifiesControllerService" : false,
                "name" : "Client Auth",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Max Size of Message Queue" : {
                "displayName" : "Max Size of Message Queue",
                "identifiesControllerService" : false,
                "name" : "Max Size of Message Queue",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ListenSyslog",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "invalid" ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "184bf120-9719-3df3-b017-76aff11814b9",
            "instanceIdentifier" : "23706561-3692-3624-acab-e3762cad2823",
            "maxBackoffPeriod" : "10 mins",
            "name" : "ListenSyslog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 2775.427600005162,
              "y" : 615.7080446570188
            },
            "properties" : {
              "Max Size of Socket Buffer" : "1 MB",
              "Max Number of TCP Connections" : "2",
              "Max Batch Size" : "1",
              "Port" : "7002",
              "socket-keep-alive" : "false",
              "Receive Buffer Size" : "65507 B",
              "Message Delimiter" : "\\n",
              "Parse Messages" : "true",
              "Protocol" : "TCP",
              "Client Auth" : "REQUIRED",
              "Character Set" : "UTF-8",
              "Max Size of Message Queue" : "10000"
            },
            "propertyDescriptors" : {
              "Max Size of Socket Buffer" : {
                "displayName" : "Max Size of Socket Buffer",
                "identifiesControllerService" : false,
                "name" : "Max Size of Socket Buffer",
                "sensitive" : false
              },
              "Max Number of TCP Connections" : {
                "displayName" : "Max Number of TCP Connections",
                "identifiesControllerService" : false,
                "name" : "Max Number of TCP Connections",
                "sensitive" : false
              },
              "Local Network Interface" : {
                "displayName" : "Local Network Interface",
                "identifiesControllerService" : false,
                "name" : "Local Network Interface",
                "sensitive" : false
              },
              "Max Batch Size" : {
                "displayName" : "Max Batch Size",
                "identifiesControllerService" : false,
                "name" : "Max Batch Size",
                "sensitive" : false
              },
              "Port" : {
                "displayName" : "Port",
                "identifiesControllerService" : false,
                "name" : "Port",
                "sensitive" : false
              },
              "socket-keep-alive" : {
                "displayName" : "Socket Keep Alive",
                "identifiesControllerService" : false,
                "name" : "socket-keep-alive",
                "sensitive" : false
              },
              "Receive Buffer Size" : {
                "displayName" : "Receive Buffer Size",
                "identifiesControllerService" : false,
                "name" : "Receive Buffer Size",
                "sensitive" : false
              },
              "Message Delimiter" : {
                "displayName" : "Message Delimiter",
                "identifiesControllerService" : false,
                "name" : "Message Delimiter",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Parse Messages" : {
                "displayName" : "Parse Messages",
                "identifiesControllerService" : false,
                "name" : "Parse Messages",
                "sensitive" : false
              },
              "Protocol" : {
                "displayName" : "Protocol",
                "identifiesControllerService" : false,
                "name" : "Protocol",
                "sensitive" : false
              },
              "Client Auth" : {
                "displayName" : "Client Auth",
                "identifiesControllerService" : false,
                "name" : "Client Auth",
                "sensitive" : false
              },
              "Character Set" : {
                "displayName" : "Character Set",
                "identifiesControllerService" : false,
                "name" : "Character Set",
                "sensitive" : false
              },
              "Max Size of Message Queue" : {
                "displayName" : "Max Size of Message Queue",
                "identifiesControllerService" : false,
                "name" : "Max Size of Message Queue",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ListenSyslog",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "backoffMechanism" : "PENALIZE_FLOWFILE",
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "2.3.0"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "2f572287-b4ff-3a66-b884-d6744983dea6",
            "identifier" : "ceaff975-2441-3dee-ad18-65430a5f86af",
            "instanceIdentifier" : "471cfefc-b8cf-3038-a9ce-2a3db9f5fe76",
            "maxBackoffPeriod" : "10 mins",
            "name" : "HandleHttpResponse",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1598.0,
              "y" : 602.0
            },
            "properties" : {
              "HTTP Context Map" : "110f79be-757e-3040-84ec-fe11668c27b5",
              "HTTP Status Code" : "204"
            },
            "propertyDescriptors" : {
              "Attributes to add to the HTTP Response (Regex)" : {
                "displayName" : "Attributes to add to the HTTP Response (Regex)",
                "identifiesControllerService" : false,
                "name" : "Attributes to add to the HTTP Response (Regex)",
                "sensitive" : false
              },
              "HTTP Status Code" : {
                "displayName" : "HTTP Status Code",
                "identifiesControllerService" : false,
                "name" : "HTTP Status Code",
                "sensitive" : false
              }
            },
            "retriedRelationships" : [ ],
            "retryCount" : 10,
            "runDurationMillis" : 0,
            "scheduledState" : "DISABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "ef04afd8-0715-3673-a7fe-a6285eda92fa",
          "instanceIdentifier" : "d5c3924f-1b7a-3e6c-8264-83bb382d4e92",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 648.0,
            "y" : 360.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "Log FlowFile Properties" : "true",
            "Log Level" : "info",
            "attributes-to-log-regex" : ".*",
            "Output Format" : "Line per Attribute",
            "Log Payload" : "false"
          },
          "propertyDescriptors" : {
            "Log prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "Log prefix",
              "sensitive" : false
            },
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "Log FlowFile Properties" : {
              "displayName" : "Log FlowFile Properties",
              "identifiesControllerService" : false,
              "name" : "Log FlowFile Properties",
              "sensitive" : false
            },
            "Log Level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "Log Level",
              "sensitive" : false
            },
            "attributes-to-ignore-regex" : {
              "displayName" : "Attributes to Ignore by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-ignore-regex",
              "sensitive" : false
            },
            "Attributes to Ignore" : {
              "displayName" : "Attributes to Ignore",
              "identifiesControllerService" : false,
              "name" : "Attributes to Ignore",
              "sensitive" : false
            },
            "Attributes to Log" : {
              "displayName" : "Attributes to Log",
              "identifiesControllerService" : false,
              "name" : "Attributes to Log",
              "sensitive" : false
            },
            "attributes-to-log-regex" : {
              "displayName" : "Attributes to Log by Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-log-regex",
              "sensitive" : false
            },
            "Output Format" : {
              "displayName" : "Output Format",
              "identifiesControllerService" : false,
              "name" : "Output Format",
              "sensitive" : false
            },
            "Log Payload" : {
              "displayName" : "Log Payload",
              "identifiesControllerService" : false,
              "name" : "Log Payload",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "DISABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "412d6d34-ce73-3980-b9e3-60f73584e955",
          "instanceIdentifier" : "39bc0330-b623-3049-8475-e5cfb34e7d85",
          "maxBackoffPeriod" : "10 mins",
          "name" : "AttributesToJSON",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 760.0,
            "y" : 648.0
          },
          "properties" : {
            "Destination" : "flowfile-content",
            "Null Value" : "false",
            "Pretty Print" : "false",
            "Include Core Attributes" : "true",
            "JSON Handling Strategy" : "ESCAPED"
          },
          "propertyDescriptors" : {
            "attributes-to-json-regex" : {
              "displayName" : "Attributes Regular Expression",
              "identifiesControllerService" : false,
              "name" : "attributes-to-json-regex",
              "sensitive" : false
            },
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Null Value" : {
              "displayName" : "Null Value",
              "identifiesControllerService" : false,
              "name" : "Null Value",
              "sensitive" : false
            },
            "Attributes List" : {
              "displayName" : "Attributes List",
              "identifiesControllerService" : false,
              "name" : "Attributes List",
              "sensitive" : false
            },
            "Pretty Print" : {
              "displayName" : "Pretty Print",
              "identifiesControllerService" : false,
              "name" : "Pretty Print",
              "sensitive" : false
            },
            "Include Core Attributes" : {
              "displayName" : "Include Core Attributes",
              "identifiesControllerService" : false,
              "name" : "Include Core Attributes",
              "sensitive" : false
            },
            "JSON Handling Strategy" : {
              "displayName" : "JSON Handling Strategy",
              "identifiesControllerService" : false,
              "name" : "JSON Handling Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "retry" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-elasticsearch-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "6a7eae3f-7c68-337b-b9e2-d054a313f193",
          "instanceIdentifier" : "d5d149b6-8fb4-3b2e-9f72-4c740d3cf018",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutElasticsearchHttp",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 328.0,
            "y" : 600.0
          },
          "properties" : { },
          "propertyDescriptors" : {
            "elasticsearch-http-response-timeout" : {
              "displayName" : "elasticsearch-http-response-timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-response-timeout",
              "sensitive" : true
            },
            "elasticsearch-http-connect-timeout" : {
              "displayName" : "elasticsearch-http-connect-timeout",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-connect-timeout",
              "sensitive" : true
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : false,
              "name" : "SSL Context Service",
              "sensitive" : true
            },
            "put-es-index" : {
              "displayName" : "put-es-index",
              "identifiesControllerService" : false,
              "name" : "put-es-index",
              "sensitive" : true
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : true
            },
            "put-es-index-op" : {
              "displayName" : "put-es-index-op",
              "identifiesControllerService" : false,
              "name" : "put-es-index-op",
              "sensitive" : true
            },
            "elasticsearch-http-url" : {
              "displayName" : "elasticsearch-http-url",
              "identifiesControllerService" : false,
              "name" : "elasticsearch-http-url",
              "sensitive" : true
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : true
            },
            "put-es-batch-size" : {
              "displayName" : "put-es-batch-size",
              "identifiesControllerService" : false,
              "name" : "put-es-batch-size",
              "sensitive" : true
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "1b0e6f37-82e7-3e7c-b640-263e655be2a9",
          "instanceIdentifier" : "944cead2-d80c-3aa9-90a9-ceb4988b67fb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ValidateXml",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1208.0,
            "y" : 504.0
          },
          "properties" : { },
          "propertyDescriptors" : {
            "XML Source Attribute" : {
              "displayName" : "XML Source Attribute",
              "identifiesControllerService" : false,
              "name" : "XML Source Attribute",
              "sensitive" : false
            },
            "Schema File" : {
              "displayName" : "Schema File",
              "identifiesControllerService" : false,
              "name" : "Schema File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE", "URL" ]
              },
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ValidateXml",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "cb737a92-4c38-3636-b1bf-4342de74f9a2",
          "instanceIdentifier" : "f5518bac-5dd8-3f3e-b256-adaa0ea2a034",
          "maxBackoffPeriod" : "10 mins",
          "name" : "HandleHttpRequest",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1056.0,
            "y" : 160.0
          },
          "properties" : {
            "multipart-request-max-size" : "1 MB",
            "Allow POST" : "true",
            "Default URL Character Set" : "UTF-8",
            "Allow DELETE" : "true",
            "Request Header Maximum Size" : "8 KB",
            "Maximum Threads" : "200",
            "HTTP Protocols" : "HTTP_1_1",
            "container-queue-size" : "50",
            "HTTP Context Map" : "1bfe4eed-2d91-3076-bd7e-caebd32eca05",
            "multipart-read-buffer-size" : "512 KB",
            "Allow OPTIONS" : "false",
            "Allow GET" : "true",
            "Allow HEAD" : "false",
            "Listening Port" : "7001",
            "Client Authentication" : "No Authentication",
            "Allow PUT" : "true"
          },
          "propertyDescriptors" : {
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "parameters-to-attributes" : {
              "displayName" : "Parameters to Attributes List",
              "identifiesControllerService" : false,
              "name" : "parameters-to-attributes",
              "sensitive" : false
            },
            "Allow POST" : {
              "displayName" : "Allow POST",
              "identifiesControllerService" : false,
              "name" : "Allow POST",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Default URL Character Set" : {
              "displayName" : "Default URL Character Set",
              "identifiesControllerService" : false,
              "name" : "Default URL Character Set",
              "sensitive" : false
            },
            "Allow DELETE" : {
              "displayName" : "Allow DELETE",
              "identifiesControllerService" : false,
              "name" : "Allow DELETE",
              "sensitive" : false
            },
            "Request Header Maximum Size" : {
              "displayName" : "Request Header Maximum Size",
              "identifiesControllerService" : false,
              "name" : "Request Header Maximum Size",
              "sensitive" : false
            },
            "Maximum Threads" : {
              "displayName" : "Maximum Threads",
              "identifiesControllerService" : false,
              "name" : "Maximum Threads",
              "sensitive" : false
            },
            "HTTP Protocols" : {
              "displayName" : "HTTP Protocols",
              "identifiesControllerService" : false,
              "name" : "HTTP Protocols",
              "sensitive" : false
            },
            "Additional HTTP Methods" : {
              "displayName" : "Additional HTTP Methods",
              "identifiesControllerService" : false,
              "name" : "Additional HTTP Methods",
              "sensitive" : false
            },
            "container-queue-size" : {
              "displayName" : "Container Queue Size",
              "identifiesControllerService" : false,
              "name" : "container-queue-size",
              "sensitive" : false
            },
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Allow OPTIONS" : {
              "displayName" : "Allow OPTIONS",
              "identifiesControllerService" : false,
              "name" : "Allow OPTIONS",
              "sensitive" : false
            },
            "Allowed Paths" : {
              "displayName" : "Allowed Paths",
              "identifiesControllerService" : false,
              "name" : "Allowed Paths",
              "sensitive" : false
            },
            "Allow GET" : {
              "displayName" : "Allow GET",
              "identifiesControllerService" : false,
              "name" : "Allow GET",
              "sensitive" : false
            },
            "Allow HEAD" : {
              "displayName" : "Allow HEAD",
              "identifiesControllerService" : false,
              "name" : "Allow HEAD",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "Client Authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "Client Authentication",
              "sensitive" : false
            },
            "Allow PUT" : {
              "displayName" : "Allow PUT",
              "identifiesControllerService" : false,
              "name" : "Allow PUT",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "a78f2828-cce6-366f-81b9-9f43a786d4d4",
          "instanceIdentifier" : "d423364d-a32b-3e18-93e2-7c98384f9042",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1304.0,
            "y" : 768.0
          },
          "properties" : {
            "@timestamp" : "${now():toNumber()}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "@timestamp" : {
              "displayName" : "@timestamp",
              "identifiesControllerService" : false,
              "name" : "@timestamp",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.3.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d8ab1a1b-a0c8-36e4-adf0-5abbf8e3800b",
          "identifier" : "d46e430f-c25a-3057-9676-ba3a94bf682d",
          "instanceIdentifier" : "d6840fcd-eb77-3e56-b5b4-e470c0242324",
          "maxBackoffPeriod" : "10 mins",
          "name" : "HandleHttpResponse",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 648.0,
            "y" : 160.0
          },
          "properties" : {
            "HTTP Context Map" : "1bfe4eed-2d91-3076-bd7e-caebd32eca05",
            "HTTP Status Code" : "204"
          },
          "propertyDescriptors" : {
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "Attributes to add to the HTTP Response (Regex)" : {
              "displayName" : "Attributes to add to the HTTP Response (Regex)",
              "identifiesControllerService" : false,
              "name" : "Attributes to add to the HTTP Response (Regex)",
              "sensitive" : false
            },
            "HTTP Status Code" : {
              "displayName" : "HTTP Status Code",
              "identifiesControllerService" : false,
              "name" : "HTTP Status Code",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}